{% unless product.tags contains "デイクリームリニューアル" %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト マルチプロテクションデイクリームの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">水、メトキシケイヒ酸エチルヘキシル、ジグリセリン、野菜油、ヒドロキシエチルウレア、セタノール、ベヘニルアルコール、ｔ<span class="s1">-</span>ブチルメトキシジベンゾイルメタン、ホホバ種子油、ステアリン酸グリセリル<span class="s1">(SE)</span>、ステアリン酸グリコール、ポリシリコーン<span class="s1">-14</span>、ペンチレングリコール、<span class="s1">1,2-</span>ヘキサンジオール、ナイアシンアミド、アスコルビン酸、フェニルエチルレゾルシノール、グルタチオン、フラーレン、エクトイン、グリチルリチン酸<span class="s1">2K</span>、クダモノトケイソウ種子油、コメヌカ油、カッパフィカスアルバレジエキス、カエサルピニアスピノサ果実エキス、カエサルピニアスピノサ莢エキス、ヒマワリ芽エキス、トマト果実エキス、コショウソウ芽エキス、レスベラトロール、ブドウ葉<span class="s1">/</span>種子<span class="s1">/</span>皮エキス、アロエベラ液汁、ツバキ花エキス、ワイルドタイムエキス、セイヨウハッカ葉エキス、ヒト遺伝子組換ポリペプチド<span class="s1">-11</span>、アスペルギルス<span class="s1">/</span>ダイズ種子エキス発酵エキス液、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド<span class="s1">-5</span>ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド<span class="s1">-5</span>、フユボダイジュ花エキス、ローマカミツレ花エキス、セイヨウオトギリソウ花<span class="s1">/</span>葉<span class="s1">/</span>茎エキス、トウキンセンカ花エキス、カミツレ花エキス、ヤグルマギク花エキス、褐藻エキス、酸化銀、コロイド性金、スーパーオキシドジスムターゼ、グリコーゲン、ダイズイソフラボン、シロキクラゲ多糖体、トコフェロール、スクワラン、ヒアルロン酸<span class="s1">Na</span>、ホウケイ酸<span class="s1">(Ca/Na)</span>、<span class="s1">BG</span>、<span class="s1">PPG-26</span>ブテス<span class="s1">-26</span>、<span class="s1">PEG-40</span>水添ヒマシ油、エチルヘキシルグリセリン、カプリル酸グリセリル、カルボマー、プロパンジオール、<span class="s1">AMPD</span>、マルトデキストリン、セルロース、グリセリン、リン酸<span class="s1">2Na</span>、ダイズ油、ソルビトール、マルトシルシクロデキストリン、フェノキシエタノール、シクロデキストリン、マルトース、キサンタンガム、ポリソルベート<span class="s1">80</span>、エタノール、レシチン、水添レシチン、塩化<span class="s1">Mg</span>、コレステロール、ココイルサルコシン<span class="s1">Na</span>、ジマルトシルシクロデキストリン</p>
</div>
</div>
</div>
  {% else %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト マルチプロテクションデイクリームaの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">水、メトキシケイヒ酸エチルヘキシル、ジグリセリン、野菜油、ヒドロキシエチルウレア、セテアリルアルコール、ベヘニルアルコール、ｔ-ブチルメトキシジベンゾイルメタン、ホホバ種子油、ステアリン酸グリセリル(SE)、ステアリン酸グリコール、ポリシリコーン-14、ナイアシンアミド、1,2-ヘキサンジオール、ペンチレングリコール、アスコルビン酸、テトラヘキシルデカン酸アスコルビル、ビスグリセリルアスコルビン酸、フェニルエチルレゾルシノール、グルタチオン、フラーレン、エクトイン、グリチルリチン酸2K、アラントイン、金、ポリグルタミン酸Na、ザクロ種子エキス、シロバナワタ種子エキス、スピルリナマキシマエキス、チャ葉エキス、加水分解コンキオリン、ビート根エキス、フルクトオリゴ糖、クダモノトケイソウ種子油、カッパフィカスアルバレジエキス、カエサルピニアスピノサ果実エキス、カエサルピニアスピノサ莢エキス、ヒマワリ芽エキス、トマト果実エキス、コショウソウ芽エキス、アロエベラ液汁、ツバキ花エキス、ワイルドタイムエキス、セイヨウハッカ葉エキス、ヒト遺伝子組換ポリペプチド-11、アスペルギルス/ダイズ種子エキス発酵エキス液、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド-5ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド-5、フユボダイジュ花エキス、ローマカミツレ花エキス、セイヨウオトギリソウ花/葉/茎エキス、トウキンセンカ花エキス、カミツレ花エキス、ヤグルマギク花エキス、酸化銀、スーパーオキシドジスムターゼ、ダイズイソフラボン、シロキクラゲ多糖体、トコフェロール、ヒアルロン酸Na、スクワラン、乳酸K、乳酸、カプリリルグリコール、トレハロース、尿素、セリン、プルラン、アルギン酸Na、ポリアクリル酸グリセリル、リン酸K、DNA、スクロース、トリ(カプリル酸/カプリン酸)グリセリル、フィチン酸、ホウケイ酸(Ca/Na)、BG、PPG-26ブテス-26、PEG-40水添ヒマシ油、エチルヘキシルグリセリン、カプリル酸グリセリル、カルボマー、プロパンジオール、AMPD、マルトデキストリン、セルロース、グリセリン、リン酸2Na、ダイズ油、ソルビトール、フェノキシエタノール、キサンタンガム、ポリソルベート80、エタノール、レシチン、水添レシチン、塩化Mg、コレステロール、ココイルサルコシンNa</p>
</div>
</div>
</div>
  {% endunless %}
