{% unless product.tags contains "ナイトエマルジョンリニューアル" %}
  
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' %}ブライテスト エナジャイジングナイトエマルジョンの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、トリ(カプリル酸/カプリン酸)グリセリル、BG、グリセリン、ナイアシンアミド、ジグリセリン、セテアリルアルコール、ステアリン酸PEG-150、1,2-ヘキサンジオール、ステアリン酸グリコール、ヒドロキシエチルウレア、アスコルビン酸、コロイド性金、グルタチオン、アラントイン、オリーブカルス培養溶解質、クロレラソロキニアナエキス、フェニルエチルレゾルシノール、ジグルコシル没食子酸、ヘキサカルボキシメチルジペプチド-12、アラリアエスクレンタエキス、プランクトンエキス、ヒマワリ種子油、カエサルピニアスピノサ莢エキス、フィトール、イソマルト、メチルグルコシドリン酸、(リシン/プロリン)銅、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド-5ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド-5、ヒト遺伝子組換ポリペプチド-11、コメヌカ油、トコフェロール、カッパフィカスアルバレジエキス、クダモノトケイソウ果実エキス、コショウソウ芽エキス、アスペルギルス/ダイズ種子エキス発酵エキス液、ダイズイソフラボン、水溶性プロテオグリカン、ツボクサエキス、オウゴン根エキス、イタドリ根エキス、カンゾウ根エキス、ヒマワリ芽エキス、チャ葉エキス、ローズマリー葉エキス、カミツレ花エキス、ダイズ油、カプリリルグリコール、PEG/PPG-20/22メチルエーテルジメチコン、ペンチレングリコール、カプリル酸グリセリル、エチルヘキシルグリセリン、ポリソルベート80、キサンタンガム、マルトデキストリン、レシチン、グアーガム、ソルビトール、クエン酸、エタノール、カルボマー、塩化Mg、水添レシチン、コレステロール、ココイルサルコシンNa、AMPD、スクレロチウムガム、セタノール、ジイソステアリン酸ポリグリセリル-2</p>
</div>
</div>
</div>
{% else %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' %}ブライテスト エナジャイジングナイトエマルジョンaの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、トリ（カプリル酸/カプリン酸）グリセリル、BG、グリセリン、ジグリセリン、ナイアシンアミド、セテアリルアルコール、ステアリン酸PEG-150、1,2-ヘキサンジオール、ステアリン酸グリコール、ヒドロキシエチルウレア、ペンチレングリコール、アスコルビン酸、アニゴザントスフラビデュスエキス、ビルベリー果実エキス、ローズマリー葉エキス、トリヘプタノイン、ティーツリー葉油、カミツレ花エキス、ダイズ芽エキス、加水分解コンキオリン、インドナガコショウ果実エキス、コロイド性金、グルタチオン、アラントイン、オリーブカルス培養溶解質、クロレラソロキニアナエキス、フェニルエチルレゾルシノール、ジグルコシル没食子酸、ヘキサカルボキシメチルジペプチド-12、プランクトンエキス、ヒマワリ種子油、カエサルピニアスピノサ莢エキス、フィトール、イソマルト、メチルグルコシドリン酸、(リシン/プロリン)銅、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド-5ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド-5、ヒト遺伝子組換ポリペプチド-11、コメヌカ油、トコフェロール、カッパフィカスアルバレジエキス、クダモノトケイソウ果実エキス、コショウソウ芽エキス、アスペルギルス/ダイズ種子エキス発酵エキス液、ダイズイソフラボン、水溶性プロテオグリカン、ツボクサエキス、オウゴン根エキス、イタドリ根エキス、カンゾウ根エキス、ヒマワリ芽エキス、チャ葉エキス、ダイズ油、カプリリルグリコール、PEG/PPG-20/22メチルエーテルジメチコン、カプリル酸グリセリル、エチルヘキシルグリセリン、ポリソルベート80、キサンタンガム、マルトデキストリン、レシチン、グアーガム、ソルビトール、クエン酸、エタノール、カルボマー、塩化Mg、水添レシチン、コレステロール、ココイルサルコシンNa、AMPD、スクレロチウムガム、セタノール、ジイソステアリン酸ポリグリセリル-2[7]</p>
</div>
</div>
</div>
  {% endunless %}
  