
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' %}リニューアレイジ アンロックセラムの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、スクワラン、ホホバ種子油、グリセリン、バクチオール、マスチック樹脂、ヒトサイタイ血幹細胞順化培養液、ヒトサイタイ血由来幹細胞エクソソーム、エピロビウムフレイスケリ葉/茎エキス、ヒマワリ芽エキス、バオバブカルス培養溶解質、パルミトイルペンタペプチド-4、カプロオイルテトラペプチド-3、サッカリナロンギクルリスエキス、カーネーション花エキス、レパゲルマニウム、トマト果実エキス、ヒトオリゴペプチド-1、マロン酸ビスエチルヘキシルヒドロキシジメトキシベンジル、オリーブ油脂肪酸セテアリル、オリーブ油脂肪酸ソルビタン、ヘマトコッカスプルビアリス油、シロキクラゲ多糖体、ヒアルロン酸Na、トコフェロール、クエン酸、コメ胚芽油、ペンチレングリコール、1,2-ヘキサンジオール、水添ポリイソブテン、フェノキシエタノール、(アクリル酸ヒドロキシエチル/アクリロイルジメチルタウリンNa)コポリマー、水添レシチン、ダイマージリノール酸(フィトステリル/イソステアリル/セチル/ステアリル/ベヘニル)、イソヘキサデカン、エチルヘキシルグリセリン、アクリレーツクロスポリマー-2-Na、カプリル酸グリセリル、トリ(カプリル酸/カプリン酸)グリセリル、マルトデキストリン、ポリアクリレートクロスポリマー-6、BG、ポリソルベート60、レシチン、イソステアリン酸ソルビタン、(カプリル酸/カプリン酸)グリセリル、フィチン酸、コレステロール、キサンタンガム、ココイルサルコシンNa、デキストラン</p>
</div>
</div>
</div>