
  {% unless product.tags contains "ファーストエッセンスリニューアル" %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">{% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト ファーストエッセンスの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、ジグリセリン、ナイアシンアミド、BG、グリセリン、スクワラン、カプリリル2-グリセリルアスコルビン酸、グリチルリチン酸2K、グリコーゲン、α-アルブチン、セラミドAP、セラミドNP、セラミドEOP、ヒトオリゴペプチド-1、 ヒアルロン酸Na、ミトラカーパススケーバーエキス、ウワウルシ葉エキス、アスペルギルス/ダイズ種子エキス発酵エキス液、カルノシン、オオアザミ果実エキス、トコフェロール、スーパーオキシドジスムターゼ、乳酸桿菌/セイヨウナシ果汁発酵液、乳酸桿菌/ブドウ果汁発酵液、レモングラス葉/茎エキス、マロン酸ビスエチルヘキシルヒドロキシジメトキシベンジル、エピロビウムフレイスケリ花/葉/茎エキス、ツボクサエキス、カミツレ花エキス、カンゾウ根エキス、 オウゴン根エキス、イタドリ根エキス、チャ葉エキス、ローズマリー葉エキス、酢酸ベンジルスルフォニルD-セリルホモフェニルアラニンアミジノベンザミド、フィトスフィンゴシン、ダイズ油、クエン酸、レシチン、水酸化Na、1,2-ヘキサンジオール、(PEG-240/デシルテトラデセス-20/HDI)コポリマー、コレステロール、キサンタンガム、カルボマー、 ソルビン酸K、ペンチレングリコール、エタノール、ジラウロイルグルタミン酸リシンNa、ラウロイルラクチレートNa、 エチルヘキシルグリセリン、カプリル酸グリセリル</p>
</div>
</div>
</div>
{% else %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">{% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト ファーストエッセンスaの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、ジグリセリン、ナイアシンアミド、BG、カプリリル2−グリセリルアスコルビン酸、加水分解コンキオリン、シストセイラタマリシホリアエキス、ユビキノン、ウメ果実エキス、アカツメクサ花エキス、チオクト酸、グリチルリチン酸2K、α-アルブチン、セラミドAP、セラミドNP、セラミドEOP、ヒトオリゴペプチド-1、グリコーゲン、ヒアルロン酸Na、アスペルギルス/ダイズ種子エキス発酵エキス液、カルノシン、オオアザミ果実エキス、トコフェロール、スーパーオキシドジスムターゼ、エピロビウムフレイスケリ花/葉/茎エキス、乳酸桿菌/セイヨウナシ果汁発酵液、乳酸桿菌/ブドウ果汁発酵液、レモングラス葉/茎エキス、マロン酸ビスエチルヘキシルヒドロキシジメトキシベンジル、スクワラン、ツボクサエキス、カミツレ花エキス、カンゾウ根エキス、オウゴン根エキス、イタドリ根エキス、チャ葉エキス、ローズマリー葉エキス、フィトスフィンゴシン、ダイズ油、クエン酸、レシチン、水添レシチン、フィトステロールズ、1,2-ヘキサンジオール、(PEG-240/デシルテトラデセス-20/HDI)コポリマー、コレステロール、キサンタンガム、カルボマー、ソルビン酸K、ペンチレングリコール、エタノール、ジラウロイルグルタミン酸リシンNa、ラウロイルラクチレートNa、グリセリン、エチルヘキシルグリセリン、カプリル酸グリセリル、イソペンチルジオール</p>
</div>
</div>
</div>
    {% endunless %}