<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.title contains 'セット' %}ブライテスト カラーリップエッセンスの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">
水添ポリイソブテン、トリ(カプリル酸/カプリン酸)グリセリル、ワセリン、セレシン、ジメチコン、(ジメチコン/ビニルジメチコン)クロスポリマー、テトラヘキシルデカン酸アスコルビル、アボカド油、カカオ脂、オリーブ油、オリーブ果実油、シア脂、ダイズ油、アルガニアスピノサ核油、オプンチアフィクスインジカ種子油、バオバブ種子油、トコフェロール、パルミトイルイソロイシン、エチルヘキシルグリセリン、カプリル酸グリセリル、セバシン酸ジエチル、赤223、赤104(1)、赤106
</p>
</div>
</div>
</div>
