<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.title contains 'セット' %}ブライテスト リップエッセンスの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">
水添ポリイソブテン、トリ(カプリル酸/カプリン酸)グリセリル、ワセリン、セレシン、ジメチコン、 (ジメチコン/ビニルジメチコン)クロスポリマー、テトラへキシルデカン酸アスコルビル、アボカド油、
カカオ脂、オリーブ油、オリーブ果実、シア脂、ダイズ油、 アルガニアスピノサ核油、オプンチアプイクスインジカ種子油、バオバブ種子油、 トコフェロール、
パルミトイルイソロイシン、エチルヘキシルグリセリン、カプリル酸グリセリル
</p>
</div>
</div>
</div>
