
{% unless product.tags contains "ローションリニューアル" %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト リリーシングローションの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、ジグリセリン、BG、ティーツリー葉水、ヒドロキシエチルウレア、トレハロー ス、ペンチレングリコール、1,2-ヘキサンジオール、ナイアシンアミド、3-O-エチル アスコルビン酸、ヒアルロン酸 Na、加水分解コラーゲン、酵母エキス、ワイルドタ イムエキス、グリチルリチン酸 2K、コショウソウ芽エキス、タンブリッサトリコ フィラ葉エキス、レモン果実エキス、セイヨウハッカ葉エキス、シャクヤク根エキ ス、ローマカミツレ花エキス、ヤグルマギク花エキス、トウキンセンカ花エキス、 フユボダイジュ花エキス、カミツレ花エキス、セイヨウオトギリソウ花/葉/茎エキ ス、ラクトフェリン(牛乳)、グリセリルグルコ シド、ヒトオリゴペプチド-1、テト ラカルボキシメチルアセチルヒドロキシプロリルジペプチド-12-5Na、テトラカル ボキシメチルジペプチド-51-5Na、ヘキサカルボキシメチルジペプチド-12、クロレ ラソロキニアナエキス、ダイズイソフラボン、アスペルギルス/ ダイズ種子エキス発 酵エキス液、カルノシン、グリコーゲン、酢酸ベンジルスルフォニル D-セリルホモ フェニルアラニンアミジノベ ンザミド、(エイコサン二酸/テトラデカン二酸)ポリグ リセリル-10、レシチン、ポリソルベート 80、ホウケイ酸(Ca/Na)、クエン酸、乳 酸、 グリセリン、水酸化 Na、ダイズ油、エタノール、フェネチルアルコール、酸化 銀、カプリリルグリコール、エチルヘキシルグリセリン</p>
</div>
</div>
</div>
  {% else %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト リリーシングローションaの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">
  水、ジグリセリン、BG、ティーツリー葉水、ヒドロキシエチルウレア、トレハロース、ペンチレングリコール、1,2-ヘキサンジオール、ナイアシンアミド、3-O-エチルアスコルビン酸、加水分解コンキオリン、セイヨウネズ果実エキス、ウンシュウミカン果皮エキス、アルテロモナス発酵エキス、酵母エキス、ワイルドタイムエキス、グリチルリチン酸2K、アラントイン、タンブリッサトリコフィラ葉エキス、レモン果実エキス、セイヨウハッカ葉エキス、ローマカミツレ花エキス、ヤグルマギク花エキス、トウキンセンカ花エキス、フユボダイジュ花エキス、カミツレ花エキス、セイヨウオトギリソウ花/葉/茎エキス、グリセリルグルコシド、テトラカルボキシメチルアセチルヒドロキシプロリルジペプチド-12-5Na、テトラカルボキシメチルジペプチド-51-5Na、ヘキサカルボキシメチルジペプチド-12、クロレラソロキニアナエキス、アスペルギルス/ダイズ種子エキス発酵エキス液、カルノシン、グリコーゲン、酢酸アミジノベンジルベンジルスルホニルD-セリルホモフェニルアラニンアミド、ビオサッカリドガム-1、ヒアルロン酸Na、加水分解コラーゲン、プロパンジオール、タウリン、リシンHCl、アラニン、アルギニン、ヒスチジンHCl、セリン、プロリン、グルタミン酸、トレオニン、バリン、ロイシン、グリシン、イソロイシン、フェニルアラニン、ホウケイ酸(Ca/Na)、(エイコサン二酸/テトラデカン二酸)ポリグリセリル-10、クエン酸、グリセリン、水酸化Na、フェネチルアルコール、酸化銀、カプリリルグリコール、エチルヘキシルグリセリン
</p>
</div>
</div>
</div>
  {% endunless %}
