
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">{% if product.tags contains 'セット' or product.title contains 'キット'%}ブライテスト セラムフォーハンドの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、ナイアシンアミド、BG、(アクリル酸ヒドロキ シエチル/アクリロイルジメチルタウリンNa)コ ポリマー、ペンチレングリコール、テトラヘキシ ルデカン酸アスコルビル、加水分解コラーゲン、 ヒアルロン酸Na、シロキクラゲ多糖体、アルガ ニアスピノサ核油、アボカド油、オリーブ果実油、 オプンチアフィクスインジカ種子油、バオバブ 種子油、グリチルリチン酸2K、セイヨウシロヤ ナギ樹皮エキス、ヘラオオバコ葉エキス、ダイズ 種子エキス、加水分解ケラチン (羊毛)、セラミ ドNP、セラミドAP、セラミドEOP、フィトスフィン ゴシン、マロン酸ビスエチルヘキシルヒドロキ シジメトキシベンジル、コレステロール、シクロ ヘキサン -1,4-ジカルボン酸ビスエトキシジグ リコール、1,2-ヘキサンジオール、グリセリン、エ チルヘキシルグリセリン、カプリル酸グリセリル、 EDTA-2Na、ポリグルタミン酸Na、キサンタン ガム、カルボマー、ラウロイルラクチレートNa 
</p>
</div>
</div>
</div>