{% unless product.tags contains "デイエマルジョンリニューアル" %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' %}ブライテスト マルチプロテクションデイエマルジョンの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">水、メトキシケイヒ酸エチルヘキシル、スクワラン、BG、トリ（カプリル酸/カプリン酸）グリセリル、エチルヘキサン酸セチル、(カプリル酸/カプリン酸)ヤシアルキル、(ジイソステアリン酸/ポリヒドロキシステアリン酸/セバシン酸)ポリグリセリル-4、ｔ-ブチルメトキシジベンゾイルメタン、クオタニウム-90ベントナイト、ペンチレングリコール、ポリシリコーン-14、1,2-ヘキサンジオール、ホホバ種子油、ナイアシンアミド、アスコルビン酸、フェニルエチルレゾルシノール、グルタチオン、フラーレン、エクトイン、グリチルリチン酸2K、クダモノトケイソウ種子油、コメヌカ油、カッパフィカスアルバレジエキス、カエサルピニアスピノサ果実エキス、カエサルピニアスピノサ莢エキス、ヒマワリ芽エキス、トマト果実エキス、コショウソウ芽エキス、レスベラトロール、ブドウ葉/種子/皮エキス、アロエベラ液汁、ツバキ花エキス、ワイルドタイムエキス、セイヨウハッカ葉エキス、ヒト遺伝子組換ポリペプチド-11、アスペルギルス/ダイズ種子エキス発酵エキス液、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド-5ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド-5、フユボダイジュ花エキス、ローマカミツレ花エキス、セイヨウオトギリソウ花/葉/茎エキス、トウキンセンカ花エキス、カミツレ花エキス、ヤグルマギク花エキス、褐藻エキス、酸化銀、コロイド性金、スーパーオキシドジスムターゼ、グリコーゲン、ダイズイソフラボン、トコフェロール、ヒアルロン酸Na、ホウケイ酸(Ca/Na)、プロパンジオール、マルトデキストリン、グリセリン、ダイズ油、ソルビトール、マルトシルシクロデキストリン、シクロデキストリン、マルトース、キサンタンガム、ポリソルベート80、エタノール、レシチン、水添レシチン、塩化Mg、塩化Na、フェネチルアルコール、コレステロール、ココイルサルコシンNa、ジマルトシルシクロデキストリン、クエン酸Na</p>
</div>
</div>
</div>
  {% else %}
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title"> {% if product.tags contains 'セット' %}ブライテスト マルチプロテクションデイエマルジョンaの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="p1">水、メトキシケイヒ酸エチルヘキシル、スクワラン、BG、トリ（カプリル酸/カプリン酸）グリセリル、エチルヘキサン酸セチル、(カプリル酸/カプリン酸)ヤシアルキル、(ジイソステアリン酸/ポリヒドロキシステアリン酸/セバシン酸)ポリグリセリル-4、ｔ-ブチルメトキシジベンゾイルメタン、クオタニウム-90ベントナイト、ペンチレングリコール、ポリシリコーン-14、1,2-ヘキサンジオール、ナイアシンアミド、アスコルビン酸、テトラヘキシルデカン酸アスコルビル、ビスグリセリルアスコルビン酸、フェニルエチルレゾルシノール、グルタチオン、フラーレン、エクトイン、グリチルリチン酸2K、アラントイン、金、ポリグルタミン酸Na、ザクロ種子エキス、シロバナワタ種子エキス、スピルリナマキシマエキス、チャ葉エキス、加水分解コンキオリン、ビート根エキス、フルクトオリゴ糖、クダモノトケイソウ種子油、カッパフィカスアルバレジエキス、カエサルピニアスピノサ果実エキス、カエサルピニアスピノサ莢エキス、ヒマワリ芽エキス、トマト果実エキス、コショウソウ芽エキス、アロエベラ液汁、ツバキ花エキス、ワイルドタイムエキス、セイヨウハッカ葉エキス、ヒト遺伝子組換ポリペプチド-11、アスペルギルス/ダイズ種子エキス発酵エキス液、トリフルオロ酢酸テトラデシルアミノブチロイルバリルアミノ酪酸ウレア、パルミトイルジペプチド-5ジアミノブチロイルヒドロキシトレオニン、パルミトイルトリペプチド-5、フユボダイジュ花エキス、ローマカミツレ花エキス、セイヨウオトギリソウ花/葉/茎エキス、トウキンセンカ花エキス、カミツレ花エキス、ヤグルマギク花エキス、酸化銀、スーパーオキシドジスムターゼ、ダイズイソフラボン、ホホバ種子油、トコフェロール、ヒアルロン酸Na、乳酸K、乳酸、カプリリルグリコール、トレハロース、尿素、セリン、プルラン、アルギン酸Na、ポリアクリル酸グリセリル、リン酸K、DNA、スクロース、フィチン酸、ホウケイ酸(Ca/Na)、プロパンジオール、マルトデキストリン、グリセリン、ダイズ油、ソルビトール、キサンタンガム、ポリソルベート80、エタノール、レシチン、カルボマー、水添レシチン、リン酸2Na、塩化Mg、塩化Na、コレステロール、ココイルサルコシンNa、クエン酸Na</p></div>
</div>
</div>
  {% endunless %}