
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">{% if product.tags contains 'セット' or product.title contains 'キット'%}リニューアレイジ スムースピーリングの{% endif %}全成分</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">水、BG、グリセリン、(アクリロイルジメチルタウリンアンモニウム/VP) コポリマー、酸化チタン、 グリコール酸、乳酸、ミクロシトルスオウストララシカ果 実エキス、 バチルス発酵物、 クリスマムマリチマムエキス、加水分解ローヤルゼリータンパク、リンゴ酸、 ライム果汁、オレンジ果汁、レモン果汁、クエン酸、グレープフルーツ果実エキス、サンザシエキス、ナツメ 果実エキス、リンゴ果実エキス、チャ葉エキス、 グルコース、水酸化Na、エチルヘキシルグリセリン、フェノキシエタノール、水酸化Al、 ポリアクリル酸アンモニウム、PG、トリ(カプリル酸/カプリン酸) グリセリル、 トコフェロール</p>
</div>
</div>
</div>