
 
 {% if product.title contains 'セット' %}<p class="p-t">ピュリファイン ディープクレンジングジェル</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">今日を落とす。明日が高まる。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">1日を過ごした肌をいたわり、磨きあげるジェル状メイク落とし。 </span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">マイクロクレイ※がキメに密着したメイクだけでなく<br>毛穴の奥の汚れや角栓も吸着、スッキリと洗い上げます。<br><br>角層のうるおいやバリア機能を司るラメラ構造サポートで<br>洗うほどにうるおい、しなやかな肌へ導きます。 
</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;"><br>メイクと素早くなじみ軽やかなオイル状へテクスチャが変化。<br>さっと流せて、洗い上がりはしっとりとした肌に。<br>目元や口元にもお使いいただけます。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;"><br>※流紋岩末</span></p>
<p data-mce-fragment="1"> </p>
{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:30mL(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:200mL(約2ヶ月分)</span></p>
  {% endif %}
{% if product.tags contains 'travel-set'%}<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">トラベルキット：容量:30mL(約1週間分)</span></p> {% endif %}

<p data-mce-fragment="1">・アルコールフリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・動物由来原料フリー</p>

