{% unless product.tags contains "デイクリームリニューアル" %}
{% if product.title contains 'セット' %}<p style="margin-top: 20px;" class="p-t">ブライテスト マルチプロテクションデイクリーム</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">隙を与えず、しなやかに守り高める透明感。</span></h2>
<p>エイジングの促進や透明感を阻害する <span style="font-weight: 400;" data-mce-style="font-weight: 400;">「環境ダメージ（紫外線、近赤外線、ブルーライト、空気中の微粒子<span style="font-size: 11px;">※1</span>、乾燥）」</span> <span style="font-weight: 400;" data-mce-style="font-weight: 400;">からマルチに肌を守りぬく朝用クリーム。</span></p>
<p style="margin-top: 20px;">さらに環境ダメージに対するレジリエンスを高め、外部環境に左右されにくいしなやかな肌へ導きます。</p>
<p style="margin-top: 20px;">UVカット成分をシルクでコーティングし、直接肌に触れないように設計された「低刺激UVカット処方<span style="font-size: 11px;">※2</span>」を採用。肌には優しく、紫外線からは強固に肌を守り、日やけによるシミ、ソバカスを防ぎます。<br><br> 上質なテクスチャーのクリームが肌に溶け込みながら透明感のある適度なツヤを叶え、日中の肌のうるおいを長時間守ります。<br><br>メイクの下地としてもご使用いただけます。<br>お手持ちの洗顔料でオフできます。</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">1 花粉や排気ガス、PM2.5、タバコの煙など</p>
<p class="p-l" style="margin-left: 0px !important;">2 メトキシケイヒ酸エチルヘキシル、t-ブチルメトキシジベンゾイルメタン、ポリシリコーン-14、水</p>
<p data-mce-fragment="1"> </p>
{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:8g(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:50g(約2ヶ月分)</span></p>
  {% if product.tags contains 'travel-set'%}<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">トラベルキット：容量:8g(約1週間分)</span></p> {% endif %}

{% endif %}

<p data-mce-fragment="1">・動物由来原料フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・金属封鎖剤フリー</p>

  {% else %}

{% if product.title contains 'セット' %}<p style="margin-top: 20px;" class="p-t">ブライテスト マルチプロテクションデイクリームa</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">敵をも味方に 輝き、つづく。</span></h2>
<p>肌に負担を与える環境ダメージから守るだけでなく、味方に変えて肌の美しさを高める朝用クリーム。</p>
<p style="margin-top: 20px;">エイジングの促進や透明感を阻害する、5大環境ダメージ（紫外線、近赤外線、ブルーライト、大気汚染<span style="font-size: 11px;">※1</span>、乾燥）。それらから肌を守り、さらに環境ダメージを活用して肌をケアする独自技術「インテリジェントヴェール<span style="font-size: 11px;">※2</span>」を搭載。</p>
<p style="margin-top: 20px;">朝つけてから夜まで1日中、肌のうるおいや透明感、ハリを高めます。<br><br>UVカット成分をシルクでコーティングした「低刺激UVカット処方<span style="font-size: 11px;">※3</span>」により、肌には優しく、紫外線からは強固に肌を守り、日やけによるシミ、ソバカスを防ぎます。<br><br>透明感のある上質なツヤを肌に与えるテクスチャで、メイクの下地としてもご使用いただけます。お手持ちの洗顔料でオフできます。</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">1 花粉や排気ガス、PM2.5、タバコの煙など</p>
<p class="p-l" style="margin-left: 0px !important;">2 ザクロ種子エキス、シロバナワタ種子エキス、スピルリナマキシマエキス、ポリグルタミン酸Na、テトラヘキシルデカン酸アスコルビル、トコフェロール</p>
<p class="p-l" style="margin-left: 0px !important; margin-bottom:30px;">3 メトキシケイヒ酸エチルヘキシル、t-ブチルメトキシジベンゾイルメタン、ポリシリコーン-14</p>
<p data-mce-fragment="1"> </p>
{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:8g(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:50g(約2ヶ月分)</span></p>
  {% if product.tags contains 'travel-set'%}<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">トラベルキット：容量:8g(約1週間分)</span></p> {% endif %}
{% endif %}
<p data-mce-fragment="1">・動物由来原料フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・金属封鎖剤フリー</p>
  {% endunless %}