{% if request.path contains '/en/' %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Wrinkle Free from Smiling</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">The eyes and mouth move greatly depending on the facial expression, and influence the impression of the face.<br>
This is a serum for wrinkles that gives firmness to concerned areas.<br>
Deep-rooted wrinkles caused by multiple factors such as facial expressions and dryness.<br>
Biofilm*1 instantly gives skin a firmer tone, while peptide*2 called “botox to apply” calms facial expressions.<br>
This product leads to smooth skin with less noticeable wrinkles by double care of quick and root.<br>
It stays at high-movement area with smooth texture.</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">※1HYDROXYPROPYL METHYLCELLULOSE、PULLULAN<br>
※2 ACETYL HEXAPEPTIDE-8</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Capacity: 20g (for about 2 to 3 months)</span></p>
<p data-mce-fragment="1">・Petroleum surfactant free<br data-mce-fragment="1">・Synthetic fragrance/synthetic coloring free<br data-mce-fragment="1">・Mineral oil free<br>・Silicone free<br data-mce-fragment="1">・Paraben free<br data-mce-fragment="1">・Animal-derived raw material-free</p>

  {% elsif request.path contains '/zh/' %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">不留笑纹在皮肤上。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">表情对于面部的印象有着很大的影响，尤其是眼部和口部区域。<br>
给令人在意的部位带来紧致感和弹性的抗皱美容液。<br>
表情的习惯或干燥等多种因素导致的顽固皱纹问题。<br>
生物膜※1能够瞬间提供紧致感，同时含有被称为“涂抹肉毒杆菌”的肽※2，可以平和地调整面部表情习惯。<br>
快速护理和根本护理的双重护理，帮助您达到不易出现皱纹、光滑有弹性的肌肤。<br>
具有光滑的质地，能够贴合面部多动部位。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">※1 羟丙基甲基纤维素、出芽短梗酶多糖<br>
※2 乙酰基六肽-8</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量：20克（约2-3个月）</span></p>
<p data-mce-fragment="1">・不含石化界面活性剂<br data-mce-fragment="1">・不含合成香料/合成著色剂<br data-mce-fragment="1">・不含矿物油<br>・不含硅酮<br data-mce-fragment="1">・不含防腐剂<br data-mce-fragment="1">・不含动物源性原料</p>

  {% else %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">笑顔の記憶、肌には残さない。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">表情によって大きく動き、顔の印象を左右する目元や口元。<br>
気になる部分にピンとハリを与えるシワ用美容液。<br>
表情のくせや乾燥など複数の要因によって発生する根深いシワ悩み。<br>
バイオフィルム<span style="font-size:11px;">※1</span>が瞬時にピンと引き締まったハリを与え、“塗るボトックス”と呼ばれるペプチド<span style="font-size:11px;">※2</span>が表情のくせを穏やかに整えます。<br>
速攻ケアと根本ケアのWケアでシワの目立ちにくいつるんとした肌へ導きます。<br>
なめらかなテクスチャーで動きの多い部分に密着します。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">※1 ヒドロキシプロピルメチルセルロース、プルラン<br>
※2 アセチルヘキサペプチド-8</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:20g(約2〜3ヶ月分)</span></p>
<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br>・シリコーンフリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・動物性原料フリー</p>
{% endif %}