{% if request.path contains '/en/' %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Cooling Gel Pack that Coolly Clears "UV x heat damage" in Midsummer.</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">A bright blue cooling gel containing a high concentration of ingredients derived from the deep green gemstone "Malachite", which has strong antioxidant power.</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">"UV damage" and "heat damage" caused by strong sunlight in midsummer are factors that accelerate aging such as overproduction of melanin and dryness. </span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Applying a cooling gel pack after washing your face to soothe hot flashes and prevent skin troubles in midsummer.</span></p>
<p style="margin-top: 0px;">Focusing on the skin's cooling sensation sensor (TRPM8), "Eucalyptus" and "Peppermint" are blended to protect the skin from dryness and dullness caused by UV and heat damage.</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">Malachite extract (moisturizing)</p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Capacity:30g</span></p>
<p data-mce-fragment="1">・Oil free<br>・Ethanol free<br>・Synthetic fragrance/synthetic coloring free<br data-mce-fragment="1">・Mineral oil free<br data-mce-fragment="1">・Paraben free<br>・Animal-derived raw material-free</p>
  
  {% elsif request.path contains '/zh/' %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">清凉胶囊，解决夏季的“紫外线和热害”</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">富含深绿宝石马拉凯特的高浓度抗氧化成分※，制成鲜艳蓝色冷感凝胶。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">真夏的强烈阳光会造成“紫外线损伤”和“热害”，是造成黑色素过度生成和皮肤干燥等加速衰老的因素。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">使用洗面奶洗脸后，冰凉凝胶面膜可以紧致肌肤、预防夏季肌肤问题。</span></p>
<p style="margin-top: 0px;">注重肌肤的冷感受器（TRPM8），添加桉树和薄荷，保护肌肤免受“紫外线×热损伤”引起的干燥和暗沉。</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">孔雀石萃取物（保湿）</p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:30克</span></p>
<p data-mce-fragment="1">・不含油<br>・不含乙醇<br>・不含合成香料/合成著色剂<br data-mce-fragment="1">・不含矿物油<br data-mce-fragment="1">・不含防腐剂<br>・不含动物源性原料</p>
  
  {% else %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">真夏の”紫外線×熱ダメージ”をひんやりクリアする冷感ジェルパック</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">強力な抗酸化力を持つ、深緑の宝石「マラカイト」由来成分<span style="font-size: 11px;">※</span>を高濃度配合した鮮やかなブルーの冷感ジェル。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">真夏の強力な日差しによる「紫外線ダメージ」「熱ダメージ」はメラニンの過剰生成や乾燥などのエイジング加速要因です。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">洗顔後の冷感ジェルパックで肌のほてりをひんやり引き締め、真夏の肌トラブルを予防します。</span></p>
<p style="margin-top: 0px;">肌の冷感センサー（TRPM8）に着目し、「ユーカリ」「ペパーミント」を配合、 ”紫外線×熱ダメージ”による乾燥やくすみからも肌を守ります。</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">孔雀石抽出物（保湿）</p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:30g</span></p>
<p data-mce-fragment="1">・オイルフリー<br>・アルコールフリー<br>・合成香料/合成着色料フリー<br data-mce-fragment="1">・動物由来原料フリー<br>・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー</p>
  {% endif %}