 {% if product.title contains 'セット' %}<p class="p-t">ブライテスト セラムフォーハンド</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">指先までも、輝くような透明感。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">乾きやすく繊細な手元を、内側から輝くような肌へ導くハンド美容液。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">手指の透明感を高めるナイアシンアミド、うるおいで満たすセラミドや5種の植物オイル、さらに角層や爪を形成するケラチンを補い指先までもすこやかな手元へ。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">角層まで瞬時に浸透し、ベタつかずスマートフォンの画面も汚れにくい「クイックフィットテクノロジー」を採用。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">色むらのない均一な透明感となめらかな肌へ導きます。</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:40mL</span></p>

<p data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・アルコールフリー</p>