<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">肌の可能性、アンロック。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">眠れる美の可能性を解放する"鍵"となる、最先端※集中ケア美容液。<br>
表情筋の動きに着想を得た独自のフォーミュラが、フェイスラインの肌を引き締め、密度の高いハリを叶えます。<br>
ほどけるテクスチャが肌と一体化、年齢を感じる肌も柔らかくもはずむような印象へ。<br>
これは先進の皮膚科学に基づき導き出された"グランドマスターキー"<br>
あなたの中に眠る、まだ見ぬ可能性を解放します。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">※ FATUITEにおいて</span></p>
<p data-mce-fragment="1">　</p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:50mL(約1ヶ月分)</span></p>
<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br>・シリコンフリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・金属封鎖剤フリー</p>