{% unless product.tags contains "ナイトクリームリニューアル" %}
{% if product.title contains 'セット' %}<p style="margin-top: 20px;" class="p-t">ブライテスト エナジャイジングナイトクリーム</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">湧き上がる力。自ら生み出す。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">年齢や生活環境によって変化する、</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">肌自らが生み出す”エネルギー”に着目した</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">新たなアプローチの夜用クリーム</span></p>
<p style="margin-top: 20px;">「エナジャイジングコンプレックス<span style="font-size: 11px;">※1</span>」と<br> 「D.N.A.コンプレックス<span style="font-size: 11px;">※2</span>」のダブルアプローチで<br> 肌のゆるみを整え、素早く上向きのハリを感じさせます。</p>
<p style="margin-top: 20px;">弾力のある、こっくりと濃密なテクスチャーが 肌にハリやうるおいを与え、 翌朝にはくすみ<span style="font-size: 11px;">※3</span>も晴れるような、うるおい透明感あふれるなめらかな肌へ導きます。</p>
<p style="margin-top: 20px; margin-left: 0px !important;" class="p-l">1 オリーブカルス培養溶解質、クロレラソロキニアナエキス、ヘキサカルボキシメチルジペプチド－１２(全て整肌成分)</p>
<p class="p-l" style="margin-left: 0px !important;">2 ディープ・ナリシング・アクティベーターコンプレックス:プランクトンエキス、ヒマワリ種子油、フィトール、イソマルト、アラリアエスクレンタエキス、メチルグルコシドリン酸、（リシン／プロリン）銅、カッパフィカスアルバレジエキス（全て整肌成分）角層まで</p>
<p class="p-l" style="margin-left: 0px !important;">3 乾燥による</p>
<p data-mce-fragment="1"> </p>
{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:8g(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:50g(約2ヶ月分)</span></p>
{% if product.tags contains 'travel-set'%}<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">トラベルキット：容量:8g(約1週間分)</span></p> {% endif %}

{% endif %}
<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・金属封鎖剤フリー<br>・動物由来原料フリー</p>

      {% else %}
  {% if product.title contains 'セット' %}<p style="margin-top: 20px;" class="p-t">ブライテスト エナジャイジングナイトクリームa</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">“休息”充電で、挑むは時間と重力。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">年齢とともに感じる肌のエネルギー不足に着目した夜用クリーム。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">肌が本来持つ重力へ抗う構造に着想を得た独自のフォーミュラが、素早く上向きのハリを感じさせます。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">翌朝にはぐっすり眠り“充電満タン”になったかのような、晴れやかな透明感へ。</span></p>
<p ><span style="font-weight: 400;" data-mce-style="font-weight: 400;">こっくり濃密なクリームが翌朝まで肌に寄り添い、ハリとうるおいをチャージします。</span></p>
    <p style="margin-top: 20px; margin-bottom:20px;">乾燥による小ジワを目立たなくします。(効能評価試験済み)</p>

{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:8g(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:50g(約2ヶ月分)</span></p>
{% if product.tags contains 'travel-set'%}<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">トラベルキット：容量:8g(約1週間分)</span></p> {% endif %}

{% endif %}
<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・金属封鎖剤フリー<br>・動物由来原料フリー</p>

    {% endunless %}