 {% if product.title contains 'セット' %}<p class="p-t">リニューアレイジ スムースピーリング</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">ひとかわむけた、素直なツヤ。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">ピーリング特有のヒリつきを低減し、肌負担なく使える洗い流すピーリングクリーム 。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">複数の植物由来ピーリング成分とタンパク質分解酵素を独自のバランスで配合し、肌のくすみの原因となる古い角層をクリアにします。</span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">肌のゴワつきや毛穴のざらつきを1度でスッキリ洗い流すことで、スキンケアの肌なじみを高め、透明感とツヤのある肌へ導きます。</span></p>

<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:3.5ml × {% if product.tags contains "peel-1" %}1個入り{% elsif product.tags contains "peel-7" %}6個 + 1個{% else %}6個入り{% endif %}</span></p>

<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・動物由来原料フリー</p>
