
 
 {% if product.tags contains 'セット' %}<p class="p-t">ピュリファイン リセットフォーム</p>{% endif %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">素肌にかえる。素肌をかえる。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">濃密泡でまっさらな素肌へと導くリセット泡洗顔料。 </span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">美容成分を含んだきめ細かな濃密泡が泡立て不要でワンプッシュ </span></p>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">角層の美肌菌を整え肌荒れやニキビを防ぎ、うるおった透明感のあるまっさらな肌へ導きます。洗い上がりはしっとり柔らかく、スキンケアのなじみやすい肌へ。気持ちまでリセットされるようなフレッシュハーブの香り。</span></p>
<p data-mce-fragment="1"> </p>
{% if product.tags contains 'travel' %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:30g(約1週間分)</span></p>
{% else %}
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:200g(約2ヶ月分)</span></p>
  {% endif %}

<p data-mce-fragment="1">・アルコールフリー<br data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・鉱物油フリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・動物由来原料フリー</p>

