{% if request.path contains '/en/' %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Spotless and perfect clear skin</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Spots care serum with focusing on the peculiar skin condition to the uneven color area <br>
Color unevenness such as spots, freckles, and acne scars that hinder the clarity of the skin.<br>
By intensive care of the peculiar skin condition to those uneven color areas,It leads to an uniform skin full of clarity like a clear sky.<br>
The dense texture like an ointment adheres closely,working on the concerning area for a long time.
</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">Capacity: 20g (for about 2 to 3 months)</span></p>
<p data-mce-fragment="1">・Petroleum surfactant free<br data-mce-fragment="1">・Synthetic fragrance/synthetic coloring free<br data-mce-fragment="1">・Mineral oil free<br>・Silicone free<br data-mce-fragment="1">・Paraben free<br data-mce-fragment="1"></p>

  {% elsif request.path contains '/zh/' %}
<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">均一的透明感，甚至不漏掉最细微的瑕疵。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">一款专注于 "色素不均区域 "这一独特皮肤状况的斑点护理精华液。<br>
不均匀的色斑、雀斑和痤疮疤痕是阻碍皮肤透明度的因素。<br>
通过集中护理这些颜色不均的特定皮肤区域，<br>
有助于肌肤改善透明度及均匀肤色。<br>
厚实、浓密、类似软膏的质地，可粘附在皮肤上，<br>
并在局部长时间发挥作用。</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量：20克（约2-3个月）</span></p>
<p data-mce-fragment="1">・不含石化界面活性剂<br data-mce-fragment="1">・不含合成香料/合成著色剂<br data-mce-fragment="1">・不含矿物油<br data-mce-fragment="1">・不含硅酮<br data-mce-fragment="1">・不含防腐剂<br data-mce-fragment="1">・不含动物源性原料</p>

  {% else %}

<h2 class="h2"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">一点の曇りも見逃さない、均一な透明感。</span></h2>
<p><span style="font-weight: 400;" data-mce-style="font-weight: 400;">”色むら部位”特有の肌状態に着目したスポッツケア美容液。<br>
肌の透明感を阻害する要因となるシミやソバカス、ニキビ跡などの色むら。<br>
それらの色むら部位特有の肌状態を集中ケアすることで、<br>
晴れ渡るような透明感あふれる均一な肌へと導きます。<br>
軟膏のようなこっくり濃密なテクスチャーが密着し、<br>
気になる部位に長時間働きかけます。</span></p>
<p data-mce-fragment="1"> </p>
<p class="txt-m" data-mce-fragment="1"><span style="font-weight: 400;" data-mce-style="font-weight: 400;">容量:20g(約2〜3ヶ月分)</span></p>
<p data-mce-fragment="1">・石油系界面活性剤フリー<br data-mce-fragment="1">・合成香料/合成着色料フリー<br data-mce-fragment="1">・鉱物油フリー<br>・シリコーンフリー<br data-mce-fragment="1">・パラベンフリー<br data-mce-fragment="1">・動物由来原料フリー</p>
{% endif %}