{% if product.tags contains "サンプル" %}
  <p class="p-l" style="color:red;">サンプルセットをカートに入れていただき、決済画面へお進みください。商品代、送料はかかりません。</p>
  <p class="p-l" style="color:red;">お一人様1回限りとさせていただきます。</p>
{% endif %}

<p class="p-l" style="color:red;">ご注文確定後の注文のキャンセルおよび返品は受け付けられませんのでご了承ください。</p>

{% if product.id == 6518312992917 %}
  <p class="p-l" style="color:red;">リニューアル前の商品です</p>
{% endif %}

{% comment %}
{% if product.tags contains "アンロック" %}
  <p class="p-l" style="color:red;"></p>
{% endif %}
{% endcomment %}

{% comment %}
  <p class="p-l" style="color:red;">予約販売商品と通常販売商品は発送日が異なるため、同時に決済はできません。</p>
{% endcomment %}

<!-- <p class="p-l" style="color:red;">予約販売商品は11月22日(水)に一斉発送予定です。</p> -->

<p class="p-l">ご購入には会員登録が必須です。</p>

<p class="p-l">ご登録いただいたアカウントにログインしていない状態では決済画面まで進まないため、ログイン状態でのご購入をお願いします。</p>

{% unless product.tags contains "サンプル" %}
  <p class="p-l">一回のご決済にて12,000円(税込み:13,200円)以上お買い上げの方は全国送料無料でお届けします。</p>
{% endunless %}

<!-- <p class="p-l">ご注文から5営業日以内に発送致します。ただし、事前に発送遅延の告知がある場合、国の定める祝日、お盆休み、お正月等による長期の祝日がある場合は配送の遅延が発生することがございます。</p> -->

<p class="p-l">ご注文から5営業日以内に発送致します。ただし、予約販売品など発送予定日が決まっているものは除きます。また、事前に発送遅延の告知がある場合、国の定める祝日、お盆休み、お正月等による長期の祝日がある場合は配送の遅延が発生することがございます。</p>