{% if request.path contains '/en/' %}
<!--/#accordion-->
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A {% if product.tags contains 'セット' or product.title contains 'キット' %}(Brightest First Essence){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:what kind of ingredients are included?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
A:Please review the ”all ingredients of Brightest First Essence” above.
    {% else %}
     A:Please review the product page for the ingredients.
    {% endunless %}</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:About discoloration</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:We use naturally derived ingredients, and the color may change because of that. Please be assured that the discoloration will not affect to the quality. No artificial dyes are used in our product.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:What kind of scent is this product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:No synthetic fragrance is used and it is fragrance-free.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:How long can one bottle last?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:It lasts for about 2 months if you use the recommended amount in the morning and evening.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q: Is double cleansing necessary?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A: Please cleanse your face with your own facial cleanser after removing makeup with  Deep Purifying Cleansing Gel.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q: Can it be used with eyelash extensions?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">It is compatible with eyelash extensions. For eye makeup, we recommend using your own point makeup remover. When using Deep Purifying Cleansing Gel, please do not rub strongly, but gently blend it in.</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q: Can it be used on wet skin?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A: Please use with dry hands and face.</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q: Is emulsification necessary when rinsing?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A: Once the makeup is blended, it can be washed off with lukewarm water without emulsification.</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:what is the effect of "Deep Purifying Cleansing Gel"?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 A:Please review the prodct description above.
    {% else %}
     A:Please review the prodct page.
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:How to store the product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Store at room temperature, away from heat and moisture.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:What is the expiration date after opening the product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Please use the product as soon as possible after opening.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Can it be used on sensitive skin?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:The ingredients in our product are gentle on sensitive skin. However, if you are concerned, please do a patch test on the inside of your upper arm before using. In the unlikely even that irritation such as redness, itchiness, or tingling occurs, please rinse immediately with water or lukewarm water and stop using.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Are there any product and/or ingredients that should not be used together?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:There are no particular ingredients that cannot be used together.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Does it contain surfactant?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:It contains surfactants that support moisturizing and barrier functions. No petroleum-based surfactants are used.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Are mineral oil and/or parabens used?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Both mineral oil and parabens are not used.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
<!--/#accordion-->
  {% elsif request.path contains '/zh/' %}
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">问答{% if product.tags contains 'セット' or product.title contains 'キット' %}(净化你的肌肤凝胶){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：配方中含有哪些成分？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
答：请参见上面的 "净化你的肌肤凝胶的所有成分"。
    {% else %}
     A:请查看产品页面了解其成分。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：变色的情况如何？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：本产品使用天然提取成分，是有可能会引起颜色变化的，但这并不影响产品的质量，请安心使用，其并没有使用合成著色剂。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：香味如何？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：它不含香精，不含合成香料。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：一瓶可以使用多久时间？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：{% if product.tags contains 'travel' %}如果每天早晚按建议用量使用，「净化你的肌肤凝胶」可使用约1周。{% else %}如果每天早晚按建议用量使用，「净化你的肌肤凝胶」可使用约2个月。{% endif %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问: 需要双重清洁吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答： 请在使用净化你的肌肤凝胶卸妆后，再使用您自己的洁面产品进行洁面。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问: 可以使用在睫毛扩展上吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：我们的产品适合使用在睫毛扩展上。我们建议使用您自己的点状卸妆液来卸除眼部妆容。使用净化你的肌肤凝胶时，请不要强烈擦洗，而是轻轻地涂抹。</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问: 可以在湿润的皮肤上使用吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答： 请在干燥的手和脸上使用。</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问: 冲洗时需要乳化吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答： 一旦化妆品与皮肤融合，您可以直接用温水冲洗，无需乳化。</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：有什么效用？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 答：请看上面的产品描述。
    {% else %}
      答:查看产品页面。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：如何保存？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：请放置于常温室温内，避免高温和潮湿。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：开封后的使用期限是多久？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：开封后请尽早使用该产品。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：可以用于敏感肌肤吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：虽然配方适合敏感肌肤使用，但肌肤因人而异，如果会担心，请在使用前于手腕内侧涂抹少量试验，万一出现红肿、瘙痒或刺痛等刺激，请立即用清水或温水冲洗并停止使用。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：是否有任何产品或成分避免一起使用？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：没有特定的成分不能一起使用的。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：是否含有介面活性剂？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：该产品含有介面活性剂，有保湿和屏障功能，并无使用石化介面活性剂。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：里面是否含有矿物油或防腐剂？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：内容物并未含有矿物油和防腐剂。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
<!--/#accordion-->
  {% else %}

<!--/#accordion-->
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A {% if product.title contains 'セット' or product.title contains 'キット' %}(ピュリファイン ディープクレンジングジェル){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
A:上記「ピュリファイン ディープクレンジングジェルの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、形状の変化（変色・分離・赤い粒）をする場合もございますが、商品の異常ではございませんので安心してご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1本でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「ピュリファイン ディープクレンジングジェル」は目安の使用量で毎晩ご使用いただいた場合、{% if product.tags contains 'travel' %}{% if product.tags contains 'travel-set' %}約2ヶ月{% else %}約1週間{% endif %}{% else %}約2ヶ月{% endif %}ご使用いただけます。{% if product.tags contains 'travel-set'  %}※トラベルキットについては約1週間分。{% endif %}</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:W洗顔は必要ですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ピュリファイン ディープクレンジングジェルでメイクを落とした後に洗顔料で洗顔してください。</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:まつ毛エクステでも使用できますか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:まつ毛エクステにも対応しています。目元のメイクはお手持ちのポイントメイクリムーバーの使用がおすすめです。ピュリファイン ディープクレンジングジェルを使われる際には強く擦らずに優しくなじませるようにお使いください。</p></div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:濡れた肌に使用できますか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:乾いた手とお顔でご使用ください。</p></div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:流す際に乳化は必要ですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:メイクとなじんだら乳化せずにそのままぬるま湯で洗い流せる仕様になっています。</p></div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup"> {% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分は<br class="sp">ありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:肌のバリア機能をサポートしながらもメイク汚れや毛穴の奥の汚れを落とす界面活性剤を配合しております。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
<!--/#accordion-->
{% endif %}