{% unless product.tags contains "デイクリームリニューアル" %}
<!--/#accordion--> 
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A  {% if product.title contains 'セット' or product.title contains 'キット' %}(ブライテスト マルチプロテクションデイクリーム){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
     <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:デイクリームとデイエマルジョンの違いはなんですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ブライテスト マルチプロテクションデイクリームとデイエマルジョンの美容成分や機能は共通です。
違いはテクスチャー・使用感とSPF値です。
デイクリームはこっくりと上質なテクスチャーで適度なセミツヤを叶え、日中の肌のうるおいを長時間守るSPF30 PA＋＋＋のクリームです。秋冬や乾燥肌の方におすすめです。
デイエマルジョンはみずみずしいテクスチャーでうるおいに満ちたツヤを叶え、日中の肌のうるおいを長時間守るSPF37 PA＋＋＋のエマルジョン(乳液)です。春夏や脂性肌の方におすすめです。
どちらも季節を問わずお使いいただけますので、お好みでご使用ください。
朝のスキンケアの最後にどちらかをお使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">{% unless request.path contains 'faq' %}
A:上記「ブライテスト マルチプロテクションデイクリームの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
    <p class="accordion-title js-accordion-title">Q:中身が出ない/うまく出ません。</p>
    <div class="accordion-content">
    <div class="c-inner-wrap">
    <p class="m-zero topup">A:エアレスポンプを採用しているため、特に使用開始時に中身が出にくい場合がございます。ポンプヘッドを繰り返し押すことでクリームが出てきます。</p>
    </div>
    </div>
    </div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1個でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「ブライテスト マルチプロテクションデイクリーム」は目安の使用量で毎朝ご使用いただいた場合、{% if product.tags contains 'travel' %}約1週間{% else %}約2ヶ月{% endif %}ご使用いただけます。{% unless product.tags contains 'travel' %}{% if product.tags contains 'travel-set' %}※トラベルキットについては約1週間分。{% endif %}{% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:洗顔後、「ブライテスト ファーストエッセンス」、「ブライテスト リリーシングローション」をご使用いただき、その後朝のお手入れの最後にご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup"> {% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。高温の場所に製品を長期間保管されますとクリームがゆるくなることがございます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分はありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を中心に配合しています。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>

  {% else %}
  
<!--/#accordion--> 
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A  {% if product.title contains 'セット' or product.title contains 'キット' %}(ブライテスト マルチプロテクションデイクリームa){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
     <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:デイクリームaとデイエマルジョンaの違いはなんですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ブライテスト マルチプロテクションデイクリームaとデイエマルジョンaの美容成分や機能は共通です。
違いはテクスチャー・使用感とSPF値です。
デイクリームaはこっくりと上質なテクスチャーで適度なセミツヤを叶え、日中の肌のうるおいを長時間守るSPF33 PA＋＋＋のクリームです。秋冬や乾燥肌の方におすすめです。
デイエマルジョンaはみずみずしいテクスチャーでうるおいに満ちたツヤを叶え、日中の肌のうるおいを長時間守るSPF44 PA＋＋＋のエマルジョン(乳液)です。春夏や脂性肌の方におすすめです。
どちらも季節を問わずお使いいただけますので、お好みでご使用ください。
朝のスキンケアの最後にどちらかをお使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">{% unless request.path contains 'faq' %}
A:上記「ブライテスト マルチプロテクションデイクリームaの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
    <p class="accordion-title js-accordion-title">Q:中身が出ない/うまく出ません。</p>
    <div class="accordion-content">
    <div class="c-inner-wrap">
    <p class="m-zero topup">A:エアレスポンプを採用しているため、特に使用開始時に中身が出にくい場合がございます。ポンプヘッドを繰り返し押すことでクリームが出てきます。</p>
    </div>
    </div>
    </div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1個でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「ブライテスト マルチプロテクションデイクリームa」は目安の使用量で毎朝ご使用いただいた場合、{% if product.tags contains 'travel' %}約1週間{% else %}約2ヶ月{% endif %}ご使用いただけます。{% unless product.tags contains 'travel' %}{% if product.tags contains 'travel-set' %}※トラベルキットについては約1週間分。{% endif %}{% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:洗顔後、「ブライテスト ファーストエッセンスa」、「ブライテスト リリーシングローションa」をご使用いただき、その後朝のお手入れの最後にご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup"> {% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。高温の場所に製品を長期間保管されますとクリームがゆるくなることがございます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分はありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を中心に配合しています。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
{% endunless %}