{% if request.path contains '/en/' %}
  
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A {% if product.tags contains 'セット' or product.title contains 'キット' %}( Calmness Cooling Gel){% endif %}</p>
{% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q: what kind of ingredients are included?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
A:Please review the ”all ingredients of  Calmness Cooling Gel” above.
    {% else %}
     A:Please review the product page for the ingredients.
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:About discoloration</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:We use naturally derived ingredients, and the color may change because of that. Please be assured that the discoloration will not affect to the quality. No artificial dyes are used in our product.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:What kind of scent is this product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:It is fragrance-free, without synthetic fragrance, but has a refreshing scent of eucalyptus and peppermint from the plant-derived ingredients it contains.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:How long can one bottle last?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Depending on the amount used, it lasts for about 10 times.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:How to use?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:After washing your face, apply this gel with enough thickness to cover the entire face. Leave for about 10 minutes and wash off , or gently wipe off with a cotton pad soaked with lotion. After that, use normal skin care.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:what is the effect of "Calmness Cooling Gel"?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 A:Please review the prodct description above.
    {% else %}
     A:Please review the prodct page.
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:How to store the product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Store at room temperature, avoiding high temperature and humidity. If the product is stored in a hot place for a long time, the cream may become loose.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:What is the expiration date after opening the product?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Please use the product as soon as possible after opening.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Can it be used on sensitive skin?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:The ingredients in our product are gentle on sensitive skin. However, if you are concerned, please do a patch test on the inside of your upper arm before using. In the unlikely even that irritation such as redness, itchiness, or tingling occurs, please rinse immediately with water or lukewarm water and stop using.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Are there any product and/or ingredients that should not be used together?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:There are no particular ingredients that cannot be used together.</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Can I use this product with a facial care device?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:This product is not for the facial care device.</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Can I use this product in the morning as well?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Since this product doesn't contain any ingredients that may irritate your skin when exposed to UV rays, please be assured to use it in the morning and evening.</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Does it contain surfactant?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:It contains surfactants that support moisturizing and barrier functions. No petroleum-based surfactants are used.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Are mineral oil and/or parabens used?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:Both mineral oil and parabens are not used.</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:Is the blue color a coloring agent?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:The blue color of the gel is not a coloring agent, but the color of the beauty ingredient "malachite (extract)" blended in high concentration.</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
  {% elsif request.path contains '/zh/' %}
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">问答{% if product.tags contains 'セット' or product.title contains 'キット' %}(平静清凉胶囊 ){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：配方中含有哪些成分？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：请参见上面的 "平静清凉胶囊华的所有成分"。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：变色的情况如何？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：本产品使用天然提取成分，是有可能会引起颜色变化的，但这并不影响产品的质量，请安心使用，其并没有使用合成著色剂。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：香味如何？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：合成香料不使用，无香料，但混合了桉树和薄荷等植物成分的清新香气。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：一瓶可以使用多久时间？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：平静清凉胶囊可以使用，取决于使用量。大约可使用10次。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：保养的顺序是什么？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：洗脸后，将面霜均匀地涂抹在整个脸部，厚度要足够覆盖整个皮肤。等待10分钟左右，然后用水冲洗或用含化妆水的棉片轻轻擦拭。之后请继续使用您平时的护肤程序。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：有什么效用？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 答：请看上面的产品描述。
    {% else %}
      答:查看产品页面。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：如何保存？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：请放置于常温室温内，避免高温和潮湿。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：开封后的使用期限是多久？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：开封后请尽早使用该产品。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：可以用于敏感肌肤吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：虽然配方适合敏感肌肤使用，但肌肤因人而异，如果会担心，请在使用前于手腕内侧涂抹少量试验，万一出现红肿、瘙痒或刺痛等刺激，请立即用清水或温水冲洗并停止使用。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：是否有任何产品或成分避免一起使用？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：没有特定的成分不能一起使用的。</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：可以并用美颜机一起使用吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：这并不是专用于美颜机的产品。</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：可以在早上使用吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：该产品不含任何暴露在紫外线下可能刺激皮肤的成分，因此可以放心地早晚使用。</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：是否含有介面活性剂？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：该产品含有介面活性剂，有保湿和屏障功能，并无使用石化介面活性剂。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：里面是否含有矿物油或防腐剂？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：内容物并未含有矿物油和防腐剂。</p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">问：蓝色是着色剂吗？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">答：凝胶的蓝色并非染料，而是高浓度添加的美容成分“孔雀石（malachite）”的颜色。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
<!--/#accordion-->
  {% else %}
<!--/#accordion-->
<p class="inquiry-p">Q&amp;A</p>
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title top-b">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:上記「全成分」をご確認ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料ですが、配合している植物由来原料のユーカリやペパーミントの爽やかな香りです。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1本でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「カームネス クーリングジェル」は目安の使用量でご使用いただいた場合、約10回分ご使用いただけます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:洗顔後、顔全体に肌が充分覆われる程度の厚さに伸ばします。10分程時間をおき、洗い流すか、化粧水を含ませたコットンで優しく拭き取ってください。その後は通常のスキンケアをご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:上記商品説明をご確認ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分は<br class="sp">ありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:美顔器などの導入で使用してもいいですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:導入用の製品ではございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:朝も使用できますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:紫外線を浴びることで肌の刺激になるような成分は配合されていませんので、安心して朝晩お使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を配合しています。石油系界面活性剤は不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:青い色は着色料ですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ジェルの青い色は着色料ではなく、高濃度で配合した美容成分「マラカイト(孔雀石抽出物)」の色です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
<!--/#accordion-->
  {% endif %}