

{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A {% if product.title contains 'セット' %}(リニューアレイジ アンロックセラム){% endif %}</p>
{% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
A:上記「リニューアレイジ アンロックセラムの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:形状の変化について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、形状の変化（変色・分離）をする場合もございますが、商品の異常ではございませんので安心してご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1本でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「リニューアレイジ アンロックセラム」は朝晩4~5プッシュずつの使用で、約1ヶ月の集中ケアとしてご使用いただけます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:化粧水で肌を整えた後、顔から首に4~5プッシュを目安に優しくなじませてください。その後、クリームや乳液をお使いください。朝晩どちらもお使いいただけます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup"> {% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分は<br class="sp">ありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:美顔器などの導入で使用してもいいですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:導入用の製品ではございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:朝も使用できますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:紫外線を浴びることで肌の刺激になるような成分は配合されていませんので、安心して朝晩お使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>