

{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A {% if product.title contains 'セット' %}(ブライテスト リップエッセンス){% endif %}</p>
{% endunless %}
<div id="accordion" class="accordion-container inquiry">
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">
  {% unless request.path contains 'faq' %}
  A:上記「ブライテスト リップエッセンスの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}
    </p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">
  {% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}
  </p>
</div>
</div>
</div>
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:いつ使えばいいですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero">A:唇の乾燥が気になるタイミングなど、お好きなタイミングでお使いいただけます。口紅を塗る前にも下地としてもご使用いただけます。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分はありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を配合しています。石油系界面活性剤は不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>