 {% unless product.tags contains "ナイトクリームリニューアル" %}
<!--/#accordion-->
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A  {% if product.title contains 'セット' or product.title contains 'キット' %}(ブライテスト エナジャイジングナイトクリーム){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title top-b">Q:ナイトクリームとナイトエマルジョンの違いはなんですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ブライテスト エナジャイジングナイトクリームとナイトエマルジョンの美容成分や機能は共通です。
違いはテクスチャー・使用感です。
ナイトクリームは弾力のある、こっくりと濃密なテクスチャーで乾きを感じる隙を与えないほどの使用感のクリームです。秋冬や乾燥肌の方におすすめです。
ナイトエマルジョンはみずみずしくなめらかなテクスチャーでうるおいあふれる使用感のエマルジョン(乳液)です。春夏や脂性肌の方におすすめです。
どちらも季節を問わずお使いいただけますので、お好みでご使用ください。
夜のスキンケアの最後にどちらかをお使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 A:上記「ブライテスト エナジャイジングナイトクリームの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1個でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「ブライテスト エナジャイジングナイトクリーム」は目安の使用量で毎晩ご使用いただいた場合、{% if product.tags contains 'travel' %}約1週間{% else %}約2ヶ月{% endif %}ご使用いただけます。{% unless product.tags contains 'travel' %}{% if product.tags contains 'travel-set' %}※トラベルキットについては約1週間分。{% endif %}{% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:洗顔後、「ブライテスト ファーストエッセンスa」、「ブライテスト リリーシングローションa」をご使用いただき、その後お手入れの最後にご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分はありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:朝も使用できますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:紫外線を浴びることで肌の刺激になるような成分は配合されていませんので、安心して朝晩お使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を配合しています。石油系界面活性剤は不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油やパラベンは使用していますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・パラベンともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>

   {% else %}

<!--/#accordion-->
{% unless product.tags contains "wide-layout" %}
<p class="inquiry-p">Q&amp;A  {% if product.title contains 'セット' or product.title contains 'キット' %}(ブライテスト エナジャイジングナイトクリームa){% endif %}</p>
  {% endunless %}
<div id="accordion" class="accordion-container inquiry">
  <!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title top-b">Q:ナイトクリームとナイトエマルジョンの違いはなんですか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:ブライテスト エナジャイジングナイトクリームとナイトエマルジョンの美容成分や機能は共通です。
違いはテクスチャー・使用感です。
ナイトクリームは弾力のある、こっくりと濃密なテクスチャーで乾きを感じる隙を与えないほどの使用感のクリームです。秋冬や乾燥肌の方におすすめです。
ナイトエマルジョンはみずみずしくなめらかなテクスチャーでうるおいあふれる使用感のエマルジョン(乳液)です。春夏や脂性肌の方におすすめです。
どちらも季節を問わずお使いいただけますので、お好みでご使用ください。
夜のスキンケアの最後にどちらかをお使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな成分が配合されていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
 A:上記「ブライテスト エナジャイジングナイトクリームaの全成分」をご確認ください。
    {% else %}
     A:配合成分は商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:変色について</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:天然由来の原料を使用しており、色の変化がおこる場合がありますが、品質に影響はございませんので、安心してご使用いただけます。合成着色料不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どのような香りですか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:合成香料不使用、無香料です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:1個でどれくらいの期間使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:「ブライテスト エナジャイジングナイトクリームa」は目安の使用量で毎晩ご使用いただいた場合、{% if product.tags contains 'travel' %}約1週間{% else %}約2ヶ月{% endif %}ご使用いただけます。{% unless product.tags contains 'travel' %}{% if product.tags contains 'travel-set' %}※トラベルキットについては約1週間分。{% endif %}{% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:スキンケアの順番を教えてください</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:洗顔後、「ブライテスト ファーストエッセンスa」、「ブライテスト リリーシングローションa」をご使用いただき、その後お手入れの最後にご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:どんな効果がありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">{% unless request.path contains 'faq' %}
  A:上記商品説明をご確認ください。
     {% else %}
     A:商品ページにてご確認ください。
    {% endunless %}</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:保存方法を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:高温多湿を避け、常温で保管ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:開封後の使用期限を教えてください。</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:開封後はお早めにご使用ください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:敏感肌でも使えますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:敏感肌の方にもお使いいただける処方ではありますが、肌質には個人差がありますので、ご心配な方は上腕部内側でパッチテストをしてからお使いください。万が一、赤み痒み、ピリつきなどの刺激がある場合はすぐに水かぬるま湯で洗い流し、使用をお控えください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:合わせて使用しない方が良い商品・成分はありますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:併用できない成分等は特にございません。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:朝も使用できますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:紫外線を浴びることで肌の刺激になるような成分は配合されていませんので、安心して朝晩お使いください。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:界面活性剤は入っていますか?</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:保湿やバリア機能をサポートする界面活性剤を配合しています。石油系界面活性剤は不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
<div class="accordion-wrap">
<p class="accordion-title js-accordion-title">Q:鉱物油や合成着色料は使用していますか？</p>
<div class="accordion-content">
<div class="c-inner-wrap">
<p class="m-zero topup">A:鉱物油・合成着色料ともに不使用です。</p>
</div>
</div>
</div>
<!--/.accordion-content-->
</div>
   {% endunless %}