
  <div class="use">
<p class="p-h3"> {% if product.title contains 'セット' %}リニューアレイジ アンロックセラムの{% endif %}使用方法</p>
<p class="">化粧水で肌を整えた後、顔から首に4~5プッシュを目安に優しくなじませてください。その後、クリームや乳液をお使いください。朝晩どちらもお使いいただけます。</p>
</div>
 