{% unless product.tags contains "デイクリームリニューアル" %}
<div class="use">
<p class="p-h3">  {% if product.tags contains 'セット' or product.title contains 'キット' %}ブライテスト マルチプロテクションデイクリームの{% endif %}使用方法</p>
<p class="">朝のスキンケアの最後に、パール粒2つくらいの量を顔と首に優しくなじませてください。使用量が少ないと充分な紫外線防止効果が得られません。<br>目安の使用量で毎朝ご使用いただいた場合、{% if product.tags contains 'travel' %}約1週間{% else %}約2ヶ月{% endif %}ご使用いただけます。</p>
</div>
{% else %}
<div class="use">
<p class="p-h3">  {% if product.tags contains 'セット' or product.title contains 'キット' %}ブライテスト マルチプロテクションデイクリームaの{% endif %}使用方法</p>
<p class="">朝、化粧水や美容液で肌を整えた後、顔から首に5～6プッシュ（パール粒2つ）を目安に優しくなじませてください。朝のスキンケアの最後に使用します。メイク下地としてもお使いいただけます。使用量が少ないと、十分な紫外線防止効果が得られません。肌をタオルで拭いたあとなどは、つけかえてください。</p>
</div>
  {% endunless %}