 <div class="use">
<p class="p-h3"> {% if product.title contains 'セット' or product.title contains 'キット' %}リニューアレイジ スムースピーリングの{% endif %}使用方法</p>
<p class="">洗顔後、水気を拭き取った肌に使用します。ポーションカップ全量が1回分の使用量です。
容器を開ける際は、中身が飛び散らないように容器の縁を持ちながら開封します。指先に
適量を取り、数回に分けて目周り、口周り、鼻孔や生え際を避けて均一の厚さになるように
広げます。クリームのついた指はすぐに水で十分に洗い流してください。5分程度時間を
おいたら流水で1分程度よく洗い流します。使用後は十分に保湿をしてください。</p>
</div>