<div id="template">
  <div id="customer">
	  <!-- Create Customer -->
	  <div id="create-customer">
	    <div class="title-bar custom-font">
	      <h2 class="title">Edit Account</h2>
	      <div class="clear"></div>
	    </div>

<div class="row">

<div class="col-md-6 offset-md-3">

	    {% render "customer-fields", form_id: "pvteNx" %}


	    </div>
	    </div>

	  </div><!-- /#create-customer -->
  </div>
</div>
{{ 'edit.js' | asset_url | script_tag }} 