<div style="text-align: center" class="pren">
  <p></p>
  <div>
    <div><strong>関東</strong></div>
    <div>
      <span style="color: #d3b996">
        <a class="scroll-link" style="color: #d3b996" href="#東京">東京</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#千葉">千葉</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#神奈川">神奈川</a>
      </span>
    </div>
    <div></div>
  </div>
  <p></p>
  <div>
    <div><strong>中部</strong></div>
    <div>
      <span style="color: #d3b996">
        <a class="scroll-link" style="color: #d3b996" href="#新潟">新潟</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#石川">石川</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#静岡">静岡</a>
      </span>
    </div>
    <div></div>
  </div>
  <p></p>
  <div>
    <div><strong>近畿</strong></div>
    <div>
      <span style="color: #d3b996">
        <a class="scroll-link" style="color: #d3b996" href="#兵庫">兵庫</a>
      </span>
    </div>
    <div></div>
  </div>
  <p></p>
  <div>
    <div><strong>九州・沖縄</strong></div>
    <div>
      <span style="color: #d3b996">
        <a class="scroll-link" style="color: #d3b996" href="#福岡">福岡</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#大分">大分</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#長崎">長崎</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#熊本">熊本</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#鹿児島">鹿児島</a> <span style="color: #000000">|</span>
        <a class="scroll-link" style="color: #d3b996" href="#沖縄">沖縄</a>
      </span>
    </div>
  </div>
</div>
<br><br>

<div class="">
  <!-- 東京 -->
  <div id="東京">
    <h2>東京都</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>エキュート品川店</h2>
        <div>
          <p>〒108-0074<br>東京都港区高輪3-26-27 JR東日本 品川駅構内エキュート品川 2階</p>
          <p><a href="tel:0334441710">03-3444-1710</a></p>
        </div>
      </div>
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>グランデュオ蒲田店</h2>
        <div>
          <p>〒144-0052<br>東京都大田区蒲田5-13-1 グランデュオ蒲田 東館 2階</p>
          <p><a href="tel:0357136387">03-5713-6387</a></p>
        </div>
      </div>
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>グランデュオ立川</h2>
        <div>
          <p>〒190-8554<br>東京都立川市柴崎町3-2-1 グランデュオ立川 1階</p>
          <p><a href="tel:0425402128">042-540-2128</a></p>
        </div>
      </div>
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>二子玉川ライズ</h2>
        <div>
          <p>〒158-0094<br>東京都世田谷区玉川2-21-1　二子玉川ライズ･ショッピング</p>
          <p><a href="tel:0364117645">03-6411-7645</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pc-flex">
  <!-- 千葉 -->
  <div id="千葉">
    <h2>千葉県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>シャポー船橋店</h2>
        <div>
          <p>〒273-0005<br>千葉県船橋市本町7-1-1 シャポー船橋 1階</p>
          <p><a href="tel:0474096225">047-409-6225</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 神奈川 -->
  <div id="神奈川">
    <h2>神奈川県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>ららぽーと海老名店</h2>
        <div>
          <p>〒243-0482<br>神奈川県海老名市扇町13-1 ららぽーと海老名 2階</p>
          <p><a href="tel:0462066260">046-206-6260</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pc-flex">
  <!-- 新潟 -->
  <div id="新潟">
    <h2>新潟県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>CoCoLo新潟店</h2>
        <div>
          <p>〒950-0086<br>新潟県新潟市中央区花園1-1-1 CoCoLo新潟 1階</p>
          <p><a href="tel:0253857689">025-385-7689</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 石川 -->
  <div id="石川">
    <h2>石川県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>金沢百番街Rinto店</h2>
        <div>
          <p>〒920-0858<br>石川県金沢市木ノ新保町1-1 金沢百番街</p>
          <p><a href="tel:0762551252">076-255-1252</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 静岡 -->
  <div id="静岡">
    <h2>静岡県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>新静岡セノバ店</h2>
        <div>
          <p>〒420-8508<br>静岡県静岡市葵区鷹匠1-1-1 新静岡セノバ 2階</p>
          <p><a href="tel:0542667180">054-266-7180</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <!-- 兵庫 -->
  <div id="兵庫">
    <h2>兵庫県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>ピオレ姫路店</h2>
        <div>
          <p>〒670-0914<br>兵庫県姫路市豆腐町222 ピオレ姫路 ピオレ２ 1階</p>
          <p><a href="tel:0792638801">079-263-8801</a></p>
        </div>
      </div>
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>西宮阪急店</h2>
        <div>
          <p>〒663-8204<br>兵庫県西宮市高松町14-1 西宮阪急 2階</p>
          <p><a href="tel:0798627478">079-862-7478</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pc-flex">
  <!-- 福岡 -->
  <div id="福岡">
    <h2>福岡県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ小倉店</h2>
        <div>
          <p>〒802-0001<br>福岡県北九州市小倉北区浅野 1-1-1 アミュプラザ小倉東館 3階</p>
          <p><a href="tel:0934824736">093-482-4736</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 大分 -->
  <div id="大分">
    <h2>大分県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>アミュプラザおおいた店</h2>
        <div>
          <p>〒870-0831<br>大分県大分市要町1-14 アミュプラザおおいた 1階</p>
          <p><a href="tel:0975748218">097-574-8218</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 長崎 -->
  <div id="長崎">
    <h2>長崎県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ長崎店</h2>
        <div>
          <p>〒850-0058<br>長崎県長崎市尾上町1-1 アミュプラザ長崎 新館 1階</p>
          <p><a href="tel:0958011962">095-801-1962</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 熊本 -->
  <div id="熊本">
    <h2>熊本県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>アミュプラザくまもと店</h2>
        <div>
          <p>〒860-0047<br>熊本県熊本市西区春日3-15-26 アミュプラザくまもと１階</p>
          <p><a href="tel:0962859154">096-285-9154</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 鹿児島 -->
  <div id="鹿児島">
    <h2>鹿児島県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ鹿児島店</h2>
        <div>
          <p>〒890-0053<br>鹿児島県鹿児島市中央町1-1 アミュプラザ鹿児島 本館 2階</p>
          <p><a href="tel:0992300561">099-230-0561</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- 沖縄 -->
  <div id="沖縄">
    <h2>沖縄県</h2>
    <div class="shop-list">
      <div class="shop">
        <h2 class="shop-title">Fruit GATHERING<br>那覇メインプレイス店</h2>
        <div>
          <p>〒900-0006<br>沖縄県那覇市おもろまち4-4-9 那覇メインプレイス 2階</p>
          <p><a href="tel:0989513303">098-951-3303</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
.shop-list {
    width: 100%;
    max-width: 1000px;
    margin: 1.0em auto 2.0em auto;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.shop .shop-title {
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 15px;
}

.shop {
    width: 100%;
    padding: 20px;
    background: white;
    border: 1px solid;
    margin: 0 auto;
}

  .scroll-link{
    text-decoration: underline;
  }

  .page h2,#shopify-section-shop-list h2{
    text-align: left; max-width: 1000px; margin: 10px auto 25px; font-size:18px;
  }

   @media screen and (max-width:798px) {

     .shop-list {
    grid-template-columns: 1fr;
}

     .shop{
       display:flex;
     }

     .shop .shop-title {
    font-size: 14px !important;
   width:50%;
    margin:0px;
    padding-right:15px;
}

     .shop div{
       width:50%;
     }

     .shop{
       padding:12px;
     }

     .shop p{
       margin:0px;
     }
   }

    @media screen and (min-width:798px) {
    .pc-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
         width: 100%;
    max-width: 1000px;
   margin:auto;
  }

      .pc-flex .shop-list {
   display:block !important;
}
      
    }
  
</style>