
<div style="text-align: center" class="pren">
                  <div>
                    <div><strong>北海道・東北</strong></div>
                    <div>
                      <span style="color: #d3b996"> <a class="scroll-link" style="color: #d3b996" href="#北海道">北海道</a></span> |<span style="color: #d3b996">
                        <a class="scroll-link" style="color: #d3b996" href="#青森">青森</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#宮城">宮城</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#福島">福島</a>
                      </span>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <p></p>
                  <div>
                    <div><strong>関東</strong></div>
                    <div>
                      <span style="color: #d3b996">
                      
                        <a class="scroll-link" style="color: #d3b996" href="#栃木">栃木</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#埼玉">埼玉</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#千葉">千葉</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#東京">東京</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#神奈川">神奈川</a>
                      </span>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                  <p></p>
                  <div>
                    <div><strong>中部</strong></div>
                    <div>
                      <span style="color: #d3b996">
                        <a class="scroll-link" style="color: #d3b996" href="#新潟">新潟</a><span style="color: #000000"> |</span>
                      </span>
                         <a class="scroll-link" style="color: #d3b996" href="#石川">石川</a><span style="color: #000000"> |</span>

                        <a class="scroll-link" style="color: #d3b996" href="#静岡">静岡</a>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                  <p></p>
                  <div>
                    <div><strong>近畿</strong></div>
                    <div>
                      <span style="color: #d3b996">
                        <a class="scroll-link" style="color: #d3b996" href="#京都">京都</a><span style="color: #000000"> |</span>
                        <a class="scroll-link" style="color: #d3b996" href="#大阪">大阪</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#兵庫">兵庫</a>
                      </span>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                  <p></p>
                  <div>
                    <div><strong>中国・四国</strong></div>
                    <div>
                       
                        <a class="scroll-link" style="color: #d3b996" href="#広島">広島</a>
                        
                    </div>
                  </div>
                  <p></p>
                  <div>
                    <div><strong>九州</strong></div>
                    <div>
                      <span style="color: #d3b996">
                        <a class="scroll-link" style="color: #d3b996" href="#福岡">福岡</a> <span style="color: #000000">|</span>
                            <a class="scroll-link" style="color: #d3b996" href="#長崎">長崎</a> <span style="color: #000000">|</span>
                        <a class="scroll-link" style="color: #d3b996" href="#熊本">熊本</a> <span style="color: #000000">|</span>
                      </span>
                    
                      <span style="color: #d3b996">
                        <a class="scroll-link" style="color: #d3b996" href="#大分">大分</a> <span style="color: #000000">|</span>
                         <a class="scroll-link" style="color: #d3b996" href="#鹿児島">鹿児島</a> <span style="color: #000000">|</span>
                       <a class="scroll-link" style="color: #d3b996" href="#沖縄">沖縄</a>
                      </span>
                    </div>
                   
                  </div>
                </div>
                <br><br>


  <div class="pc-flex">
  <!-- 北海道 -->
  <div>
  <h2>北海道</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">アミューズボーテ<br>札幌店</h2>
      <div>
        <p>〒060-0005<br>北海道札幌市中央区北5条西4-7<br>大丸札幌店3階</p>
        <p><a href="tel:0118281156">011-828-1156</a></p>
      </div>
    </div>
  </div>
  </div>

  <!-- 青森県 -->
    <div>
  <h2>青森県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>青森店</h2>
      <div>
        <p>〒030-0801<br>青森県青森市新町1-7-1<br>THREE　2階</p>
        <p><a href="tel:0177180421">017-718-0421</a></p>
      </div>
    </div>
  </div>
    </div>

  <!-- 宮城県 -->
    <div>
  <h2>宮城県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">アミューズボーテ<br>仙台店</h2>
      <div>
        <p>〒980-8450<br>宮城県仙台市青葉区中央3-7-5 仙台パルコ２ 3階 <br>アミューズボーテ仙台店</p>
        <p><a href="tel:0222662050">022-266-2050</a></p>
      </div>
    </div>
  </div>
    </div>

  <!-- 福島県 -->
    <div>
  <h2>福島県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>郡山うすい店</h2>
      <div>
        <p>〒963-8004<br>福島県郡山市中町13-1<br>うすい百貨店 1階</p>
        <p><a href="tel:0249547227">024-954-7227</a></p>
      </div>
    </div>
  </div>
    </div>


  <!-- 栃木県 -->
    <div>
  <h2>栃木県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>宇都宮パセオ店</h2>
      <div>
        <p>〒321-0965<br>栃木県宇都宮市川向町1-23<br>宇都宮駅ビル パセオ 2階</p>
        <p><a href="tel:0286128003">028-612-8003</a></p>
      </div>
    </div>
  </div>
    </div>

    </div>

  <!-- 埼玉県 -->
<h2>埼玉県</h2>
  <div class="shop-list">
<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR ルミネ大宮店</h2>
    <div>
        <p>〒330-0853<br>埼玉県さいたま市大宮区錦町630番地<br>ルミネ大宮2-3Ｆ<br>イセタン ミラー ルミネ大宮店</p>
        <p><a href="tel:0486505022">048-650-5022</a></p>
    </div>
</div>

<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR グランエミオ所沢店</h2>
    <div>
        <p>〒359-0037<br>埼玉県所沢市くすのき台1-14-5<br>グランエミオ所沢 2F<br>イセタン ミラー グランエミオ所沢店</p>
        <p><a href="tel:0429689533">04-2968-9533</a></p>
    </div>
</div>
  </div>


<!-- 千葉県 -->
<h2>千葉県</h2>
  <div class="shop-list">
<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR ららぽーとTOKYO-BAY店</h2>
    <div>
        <p>〒273-8530<br>千葉県船橋市浜町2-1-1<br>ららぽーとTOKYO-BAY 北館1F<br>イセタン ミラー ららぽーとTOKYO-BAY店</p>
        <p><a href="tel:0474217720">047-421-7720</a></p>
    </div>
</div>

    <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>シャポー船橋店</h2>
    <div>
        <p>〒273-0005<br>千葉県船橋市本町7-1-1 シャポー船橋 1階</p>
        <p><a href="tel:0474096225">047-409-6225</a></p>
    </div>
</div>

    <div class="shop">
    <h2 class="shop-title">アミューズボーテ<br>松戸店</h2>
    <div>
        <p>〒270-0023<br>千葉県松戸市八ヶ崎2-8-1<br>テラスモール松戸 2階</p>
        <p><a href="tel:0473401733">047-340-1733</a></p>
    </div>
</div>
    
  </div>


<!-- 東京都 -->
<h2>東京都</h2>
<div class="shop-list">
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ルミネ新宿店</h2>
    <div>
      <p>〒160-0022<br>東京都新宿区新宿3-38-2 ルミネ新宿2-2Ｆ イセタン ミラー ルミネ新宿店</p>
      <p><a href="tel:0353267180">03-5326-7180</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>セレオ八王子店</h2>
    <div>
      <p>〒192-0083<br>東京都八王子市旭町1-1 セレオ八王子北館2Ｆ イセタン ミラー セレオ八王子店</p>
      <p><a href="tel:0426863750">042-686-3750</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ルミネ北千住店</h2>
    <div>
      <p>〒120-0026<br>東京都足立区千住旭町42-2 ルミネ北千住 3Ｆ イセタン ミラー ルミネ北千住店</p>
      <p><a href="tel:0352841580">03-5284-1580</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>吉祥寺パルコ店</h2>
    <div>
      <p>〒180-8520<br>東京都武蔵野市吉祥寺本町1-5-1 吉祥寺パルコ1F イセタン ミラー 吉祥寺パルコ店</p>
      <p><a href="tel:0422236050">042-223-6050</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>錦糸町テルミナ2店</h2>
    <div>
      <p>〒130-0013<br>東京都墨田区錦糸1-2-47 テルミナ2 ラ・ガール1F イセタン ミラー 錦糸町テルミナ2店</p>
      <p><a href="tel:0358190016">03-5819-0016</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>アトレ大井町店</h2>
    <div>
      <p>〒140-0014<br>東京都品川区大井1-2-1 アトレ大井町1F イセタン ミラー アトレ大井町店</p>
      <p><a href="tel:0357097297">03-5709-7297</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>東急プラザ表参道原宿店</h2>
    <div>
      <p>〒150-0001<br>東京都渋谷区神宮前4-30-3 東急プラザ表参道原宿3F イセタン ミラー 東急プラザ表参道原宿店</p>
      <p><a href="tel:0364555190">03-6455-5190</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>アトレ恵比寿店</h2>
    <div>
      <p>〒150-0022<br>東京都渋谷区恵比寿南1-5-5 アトレ恵比寿 本館5F イセタン ミラー アトレ恵比寿店</p>
      <p><a href="tel:0354758430">03-5475-8430</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ルミネ荻窪店</h2>
    <div>
      <p>〒167-0043<br>東京都杉並区上荻1-7-1 ルミネ荻窪2F イセタン ミラー ルミネ荻窪店</p>
      <p><a href="tel:0369151145">03-6915-1145</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>新丸の内ビルディング店</h2>
    <div>
      <p>〒100-6590<br>東京都千代田区丸の内1-5-1 新丸の内ビルディング3F イセタン ミラー 新丸の内ビルディング店</p>
      <p><a href="tel:0362560431">03-6256-0431</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>東京ミッドタウン日比谷店</h2>
    <div>
      <p>〒100-0006<br>東京都千代田区有楽町1-1-2 東京ミッドタウン日比谷 1F イセタン ミラー 東京ミッドタウン日比谷店</p>
      <p><a href="tel:0368127157">03-6812-7157</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ミーツ国分寺店</h2>
    <div>
      <p>〒185-0012<br>東京都国分寺市本町3-1-1 ミーツ国分寺2F イセタン ミラー ミーツ国分寺店</p>
      <p><a href="tel:0424010847">042-401-0847</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ルミネ池袋店</h2>
    <div>
      <p>〒171-0021<br>東京都豊島区西池袋1-11-1 ルミネ池袋2階 イセタン ミラー ルミネ池袋店</p>
      <p><a href="tel:0358102221">03-5810-2221</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>エキュート品川店</h2>
    <div>
      <p>〒108-0074<br>東京都港区高輪3-26-27 JR東日本 品川駅構内エキュート品川 2階</p>
      <p><a href="tel:0334441710">03-3444-1710</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>グランデュオ蒲田店</h2>
    <div>
      <p>〒144-0052<br>東京都大田区蒲田5-13-1 グランデュオ蒲田 東館 2階</p>
      <p><a href="tel:0357136387">03-5713-6387</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>アーバンドック ららぽーと豊洲店</h2>
    <div>
      <p>〒135-8614<br>東京都江東区豊洲2-4-9 アーバンドック ららぽーと豊洲 1階</p>
      <p><a href="tel:0362042184">03-6204-2184</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>グランデュオ立川店</h2>
    <div>
      <p>〒190-8554<br>東京都立川市柴崎町3-2-1 グランデュオ立川 1階</p>
      <p><a href="tel:0425402128">042-540-2128</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>東京スカイツリータウン・ソラマチ店</h2>
    <div>
      <p>〒131-0045<br>東京都墨田区押上1-1-2 東京スカイツリータウン・ソラマチ 3階</p>
      <p><a href="tel:0366585165">03-6658-5165</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>二子玉川ライズ店</h2>
    <div>
      <p>〒158-0094<br>東京都世田谷区玉川2-21-1 二子玉川ライズS.C.店 タウンフロント 1階</p>
      <p><a href="tel:0364117645">03-6411-7645</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>六本木ヒルズ店</h2>
    <div>
      <p>〒106-0032<br>東京都港区六本木6丁目4-1 六本木ヒルズ メトロハット/ハリウッドプラザ地下1階</p>
      <p><a href="tel:0358431407">03-5843-1407</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">アミューズボーテ<br>北千住店</h2>
    <div>
      <p>〒120-8501<br>東京都足立区千住3-92 北千住マルイ 2階</p>
      <p><a href="tel:0343765415">03-4376-5415</a></p>
    </div>
  </div>
  <div class="shop">
    <h2 class="shop-title">アミューズボーテ<br>錦糸町店</h2>
    <div>
      <p>〒130-0013<br>東京都墨田区錦糸2-2-1 アルカキット錦糸町 1階</p>
      <p><a href="tel:0336253305">03-3625-3305</a></p>
    </div>
  </div>
</div>

<!-- 神奈川県 -->
<h2>神奈川県</h2>
  <div class="shop-list">
<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR テラスモール湘南店</h2>
    <div>
        <p>〒251-0041<br>神奈川県藤沢市辻堂神台1-3-1<br>テラスモール湘南2F<br>イセタン ミラー テラスモール湘南店</p>
        <p><a href="tel:0466549103">0466-54-9103</a></p>
    </div>
</div>

<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR ららぽーと横浜店</h2>
    <div>
        <p>〒224-0053<br>神奈川県横浜市都筑区池辺町4035－1<br>ららぽーと横浜店2Ｆ<br>イセタン ミラー ららぽーと横浜店</p>
        <p><a href="tel:0454827523">045-482-7523</a></p>
    </div>
</div>

<div class="shop">
    <h2 class="shop-title">ISEATAN MIRROR グランツリー武蔵小杉店</h2>
    <div>
        <p>〒211-0004<br>神奈川県川崎市中原区新丸子東3-1135-1<br>グランツリー武蔵小杉2階<br>イセタン ミラー グランツリー武蔵小杉店</p>
        <p><a href="tel:0448206203">044-820-6203</a></p>
    </div>
</div>

    <div class="shop">
    <h2 class="shop-title">Fruit GATHERING<br>ららぽーと海老名店</h2>
    <div>
        <p>〒243-0482<br>神奈川県海老名市扇町13-1 ららぽーと海老名 2階</p>
        <p><a href="tel:0462066260">046-206-6260</a></p>
    </div>
</div>
    
  </div>

 <div class="pc-flex">

  <!-- 新潟県 -->
   <div>
  <h2>新潟県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>CoCoLo新潟店</h2>
      <div>
        <p>〒950-0086<br>新潟県新潟市中央区花園1-1-1　CoCoLo新潟 1階 西（1W-03）フルーツギャザリング</p>
        <p><a href="tel:0253857689">025-385-7689</a></p>
      </div>
    </div>
  </div>
   </div>

  <!-- 静岡県 -->
   <div>
  <h2>静岡県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>新静岡セノバ店</h2>
      <div>
        <p>〒420-8508<br>静岡県静岡市葵区鷹匠1-1-1<br> 新静岡セノバ 2階</p>
        <p><a href="tel:0542667180">054-266-7180</a></p>
      </div>
    </div>
  </div>
     </div>

  <!-- 石川県 -->
     <div>
  <h2>石川県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>金沢百番街Rinto店</h2>
      <div>
        <p>〒920-0858<br>石川県金沢市木ノ新保町1-1 <br>金沢百番街</p>
        <p><a href="tel:0762551252">076-255-1252</a></p>
      </div>
    </div>
  </div>
     </div>
 </div>

   <!-- 京都府 -->
<h2>京都府</h2>
 <div class="shop-list">
<div class="shop">
    <h2 class="shop-title">アミューズボーテ<br>京都店</h2>
    <div>
        <p>〒600-8511<br>京都府京都市下京区四条通高倉西入立売西町79<br>大丸京都店地下２階</p>
        <p><a href="tel:0752887477">075-288-7477</a></p>
    </div>
</div>
 </div>

  <!-- 大阪府 -->
  <h2>大阪府</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>京阪モール京橋店</h2>
      <div>
        <p>〒534-0024<br>大阪府大阪市都島区東野田町2-1-38 京阪モール京橋店 1階</p>
        <p><a href="tel:0663604955">06-6360-4955</a></p>
      </div>
    </div>
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>天王寺ミオ店</h2>
      <div>
        <p>〒543-0055<br>大阪府大阪市天王寺区悲田院町10-39 天王寺ミオ本館 2階</p>
        <p><a href="tel:0667967028">06-6796-7028</a></p>
      </div>
    </div>
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>くずはモール店</h2>
      <div>
        <p>〒573-1121<br>大阪府枚方市楠葉花園町15-1 くずはモール本館ハナノモール 1階</p>
        <p><a href="tel:0728077803">072-807-7803</a></p>
      </div>
    </div>
      <div class="shop">
      <h2 class="shop-title">アミューズボーテ<br>梅田店</h2>
      <div>
        <p>〒530-8202<br>大阪府大阪市北区梅田3-1-1 大丸梅田店5階</p>
        <p><a href="tel:0663435637">06-6343-5637</a></p>
      </div>
    </div>
  </div>


  <!-- 兵庫県 -->
  <h2>兵庫県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>西宮阪急店</h2>
      <div>
        <p>〒663-8204<br>兵庫県西宮市高松町14-1 西宮阪急 2階</p>
        <p><a href="tel:0798627478">079-862-7478</a></p>
      </div>
    </div>
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>ピオレ姫路店</h2>
      <div>
        <p>〒670-0914<br>兵庫県姫路市豆腐町222 ピオレ姫路 ピオレ２　1階</p>
        <p><a href="tel:0792638801">079-263-8801</a></p>
      </div>
    </div>
  </div>


<div class="pc-flex">

  
  <!-- 広島県 -->
  <div>
<h2>広島県</h2>
<div class="shop-list">
  <div class="shop">
    <h2 class="shop-title">ISEATAN MiRROR<br>ekie広島店</h2>
    <div>
      <p>〒732-0822<br>広島県広島市南区松原町1-2 ekie広島2F イセタン ミラー ekie広島店</p>
      <p><a href="tel:0822073788">082-207-3788</a></p>
    </div>
  </div>
</div>
  </div>

                          <!-- 福岡県 -->
    <div>
  <h2>福岡県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ小倉店</h2>
      <div>
        <p>〒802-0001<br>福岡県北九州市小倉北区浅野 1-1-1 アミュプラザ小倉東館 3階</p>
        <p><a href="tel:0934824736">093-482-4736</a></p>
      </div>
    </div>
  </div>
    </div>

                        <!-- 長崎県 -->
    <div>
  <h2>長崎県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ長崎店</h2>
      <div>
        <p>〒850-0058<br>長崎県長崎市尾上町1-1 <br>アミュプラザ長崎 新館　1階</p>
        <p><a href="tel:0958011962">095-801-1962</a></p>
      </div>
    </div>
  </div>
    </div>


</div>


  <!-- 熊本県 -->
  <h2>熊本県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>アミュプラザくまもと店</h2>
      <div>
        <p>〒860-0047<br>熊本県熊本市西区春日3-15-26 アミュプラザくまもと１階</p>
        <p><a href="tel:0962859154">096-285-9154</a></p>
      </div>
    </div>
        <div class="shop">
      <h2 class="shop-title">アミューズボーテ<br>熊本店</h2>
      <div>
        <p>〒860-0805<br>熊本県熊本市中央区桜町3-10 SAKURA MACHI Kumamoto 1階</p>
        <p><a href="tel:0963564720">096-356-4720</a></p>
      </div>
    </div>
  </div>

<div class="pc-flex">
  

  <!-- 大分県 -->
  <div>
  <h2>大分県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>アミュプラザおおいた店</h2>
      <div>
        <p>〒870-0831<br>大分県大分市要町1-14 <br>アミュプラザおおいた 1階</p>
        <p><a href="tel:0975748218">097-574-8218</a></p>
      </div>
    </div>
  </div>
    </div>

   <!-- 鹿児島県 -->
  <div>
  <h2>鹿児島県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>アミュプラザ鹿児島店</h2>
      <div>
        <p>〒890-0053<br>鹿児島県鹿児島市中央町1-1 アミュプラザ鹿児島 本館 2階</p>
        <p><a href="tel:0992300561">099-230-0561</a></p>
      </div>
    </div>
    </div>
  </div>

</div>

  <!-- 沖縄県 -->
  <h2>沖縄県</h2>
  <div class="shop-list">
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>沖縄パルコシティ店</h2>
      <div>
        <p>〒901-2123<br>沖縄県浦添市西洲3-1-1　サンエー浦添西海岸　ＰＡＲＣＯ　ＣＩＴＹ2階</p>
        <p><a href="tel:0988711190">098-871-1190</a></p>
      </div>
    </div>
    <div class="shop">
      <h2 class="shop-title">Fruit GATHERING<br>那覇メインプレイス店</h2>
      <div>
        <p>〒900-0006<br>沖縄県那覇市おもろまち4-4-9　那覇メインプレイス 2階</p>
        <p><a href="tel:0989513303">098-951-3303</a></p>
      </div>
    </div>
  </div>

  <script>
    document.querySelectorAll('.scroll-link').forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        const targetText = this.textContent;
        const targetElement = Array.from(document.querySelectorAll('h2')).find(h2 => h2.textContent.includes(targetText));
        if (targetElement) {
          const offsetTop = targetElement.getBoundingClientRect().top + window.scrollY - 150;
          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
          });
        }
      });
    });
</script>



<style>
.shop-list {
    width: 100%;
    max-width: 1000px;
    margin: 1.0em auto 2.0em auto;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.shop .shop-title {
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 15px;
}

.shop {
    width: 100%;
    padding: 20px;
    background: white;
    border: 1px solid;
    margin: 0 auto;
}

  .scroll-link{
    text-decoration: underline;
  }

  .page h2,#shopify-section-shop-list h2{
    text-align: left; max-width: 1000px; margin: 10px auto 25px; font-size:18px;
  }

   @media screen and (max-width:798px) {

     .shop-list {
    grid-template-columns: 1fr;
}

     .shop{
       display:flex;
     }

     .shop .shop-title {
    font-size: 14px !important;
   width:50%;
    margin:0px;
    padding-right:15px;
}

     .shop div{
       width:50%;
     }

     .shop{
       padding:12px;
     }

     .shop p{
       margin:0px;
     }
   }

    @media screen and (min-width:798px) {
    .pc-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
         width: 100%;
    max-width: 1000px;
   margin:auto;
  }

      .pc-flex .shop-list {
   display:block !important;
}
      
    }
  
</style>
