<article id="{{page.handle}}" class="page hentry night-c">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">新商品サンプル<br class="sp">同梱キャンペーンについて</h1>
		</div>
	</header>
	<section class="entry-content">
		<p>FATUITE初のクリームが、この冬に発売となります。</p>

      <p style="margin-bottom:5px;"><b>【商品名】</b></p>
<p>ファチュイテ<br>
ブライテスト エナジャイジングナイトクリーム<br>
50g<br>¥9,000(税込¥9,900)<br><br>
予約販売開始: 11月13日(土) 21:00開始</p>

<p>ナイトクリームの発売に先立ち、<br class="sp">サンプルパウチの同梱キャンペーンを行います。</p>

  <p style="margin-bottom:5px;"><b>【キャンペーン詳細】</b></p>
<ul style="padding:0px;margin-bottom:30px;">
<li>・10月15日(金)21時から11月12日(金)23:59までのご注文分に同梱いたします。なお、期間中であってもサンプルパウチがなくなり次第終了です。</li>
<li>・注文商品数に関わらず、1注文につき1パウチをプレゼントいたします。</li>
<li>・サンプルのみのご注文は承れません。</li>
<li>・ナイトクリーム以外の商品のサンプルパウチはございません。</li>
</ul>

<p>ぜひこの機会に、FATUITEの新商品、<br class="sp">エナジャイジングナイトクリームをお試しください。</p>

      <p class="end">ご不明点の確認などは<a href="https://lin.ee/XspGYn8">公式LINE</a>からお問い合わせください。</p>
	</section>
</article>

<style>
  ul li{
  list-style:none !important;
  }
</style>