<article id="{{page.handle}}" class="page hentry night-c">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">年末年始休業のお知らせ</h1>
		</div>
	</header>
	<section class="entry-content">
		<p style="font-weight:bold;">休業期間</p>
      <p>2023年12月29日(金)～2024年1月4日(木)</p>

        <p style="font-weight:bold;">発送について</p>
      <p>12月27日(水)のご注文分までが年内発送の対象となります。12月28日(木)以降のご注文分に関しましては、2024年1月5日(金)以降に発送予定となります。</p>

        <p style="font-weight:bold;">お問い合わせについて</p>
      <p>休業期間中のお問い合わせ対応など、通常よりもお時間がかかることがございます。予めご了承ください。</p>
	</section>
</article>

<style>
  ul li{
  list-style:none !important;
  }
  
  .cccc{
  max-width: 350px;
    margin: auto;
    text-align: left !important;
  }
  
  b{
  width: 100px;
    display: inline-block;
  }
  
  .ddd{
  padding-right:10px;
  }
  
  .dddd{
  padding-right:12px;
  }
  
  @media screen and (max-width: 700px) {
    h1{
    font-size:18px !important;
    }
  }
  
</style>
