<article id="{{page.handle}}" class="page hentry night-c">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">大阪POP-UP STORE詳細について</h1>
		</div>
	</header>
	<section class="entry-content">
		<p>大阪でのPOP-UP STOREの開催が決定いたしました！<br>
会期中は新商品のエマルジョン2種やセットもご購入いただけます。</p>

      <p style="margin-bottom:5px;"><b>【日程】</b></p>
<p>2022年6月8日(水)〜14日(火)</p>
      
        <p style="margin-bottom:5px;"><b>【場所】</b></p>
<p>あべのハルカス近鉄本店タワー館2階イベントスペース</p>
      
         <p style="margin-bottom:5px;"><b>【営業時間】</b></p>
      <p>10:00-20:30<br><span style="fotn-size:9px;">※</span>あべのハルカス近鉄本店の営業時間に準じます。</p>

<p>FATUITEディレクター藤井明子・
商品開発担当JUNが下記の時間POP-UP会場に来店いたします。</p>

      <p style="margin-bottom:5px;" class="cccc"><b>【6月8日(水)】</b><span class="ddd">10:00-12:00</span>18:00-20:00</p>
<!-- <p>10:00-12:00<br>
18:00-20:00</p> -->
      
      <p style="margin-bottom:5px;" class="cccc"><b>【6月9日(木)】</b>14:00-16:00</p>
<!-- <p>14:00-16:00</p> -->
      
      <p style="margin-bottom:5px;" class="cccc"><b>【6月10日(金)】</b><span class="ddd">12:00-14:00</span>18:00-20:00</p>
<!-- <p>12:00-14:00<br>
18:00-20:00</p>
       -->
      <p style="margin-bottom:5px;" class="cccc"><b>【6月11日(土)】</b><span class="dddd">11:00-12:30</span><span class="ddd">15:00-16:30</span>18:00-19:30</p>
<!-- <p>11:00-12:30<br>
15:00-16:30<br>
18:00-19:30</p> -->
      
      <p style="margin-bottom:5px;" class="cccc"><b>【6月12日(日)】</b><span class="dddd">11:00-13:00</span>16:00-18:00</p>
<!-- <p>11:00-13:00<br>
16:00-18:00</p> -->
      
      <p style="margin-bottom:5px;" class="cccc"><b>【6月14日(火)】</b><span class="ddd">14:00-16:00</span>18:30-20:30</p>
<!-- <p>14:00-16:00<br>
18:30-20:30</p> -->

<p style="margin-top:30px;">皆様のご来場、心よりお待ちしております。</p>

      <p class=""><span style="fotn-size:9px;">※</span>混雑状況によってはお待ちいただく場合や整理券を配布させていただく場合がございます。<br>
        <span style="fotn-size:9px;">※</span>来店スケジュールは急遽変更になる可能性がございます。</p>
	</section>
</article>

<style>
  ul li{
  list-style:none !important;
  }
  
  .cccc{
  max-width: 350px;
    margin: auto;
    text-align: left !important;
  }
  
  b{
  width: 100px;
    display: inline-block;
  }
  
  .ddd{
  padding-right:10px;
  }
  
  .dddd{
  padding-right:12px;
  }
  
  @media screen and (max-width: 700px) {
    h1{
    font-size:18px !important;
    }
  }
  
</style>