<!-- KV -->
<div id="kv_pc" style="padding: 0 auto;">
<img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/KV_PC.jpg?v=1658958094" style="width: 100%;">
  
  <div class="kv-txt">
    <h1>内側から<br>発光するような<br>透明感へ</h1> 
    <div style=""><p>ブライテスト<br>ファーストエッセンス</p><p>ブライテスト<br>リリーシングローション</p></div>    
  </div>
  
</div>

<div id="kv_sp" style="padding: 0 auto;">
<img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/KV_SP_8e2dcbdf-90d4-40c3-9da0-08609192fc17.jpg?v=1659000369" style="max-width:100%;">
  <div class="kv-txt">
    <h1>内側から<br>発光するような<br>透明感へ</h1> 
    <div style=""><p>ブライテスト<br>ファーストエッセンス</p><p>ブライテスト<br>リリーシングローション</p></div>    
  </div>
</div>

<!-- 直下テキスト -->
<section class="ss-p">
  <p class="thin p-sen">ブライテストシリーズとは</p>
  <h2>ブライテストシリーズの<br class="sp">アイテムはすべて、<br>輝きの最上級を目指します。</h2>
  <p>ブライテストシリーズのアイテムはそれぞれ異なる角度から<br class="pc">「ブライトニングケア」「エイジングケア<span class="kome">※1</span>」「高保湿ケア」「毛穴ケア」などを叶え、<br class="pc">組み合わせることで、まるで内側から光を放つような、輝く肌へと導きます。</p>
<!--   <p class="thin">※1年齢に応じたうるおいやハリのお手入れ</p> -->
</section>

<!-- 写真コンテンツ -->

<div class="i-flex">
  <div class="img-box i-left">
    <a href="#es">
  <img class="b-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01_01_KV_card.jpg?v=1657098958">
    <p class="i-t">ブライテスト<br>
ファーストエッセンス</p>
    <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957">
    </a>
  </div>
  
  <div class="img-box i-right">
     <a href="#lo">
  <img class="b-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_01_KV_card.jpg?v=1657098957">
    <p class="i-t">ブライテスト<br>
リリーシングローション</p>
    <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990">
    </a>
  </div>
</div>

<!-- エッセンス ビッグイメージ -->
<div class="es-img" id="es">
  <img class="b-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Component_12_1.png?v=1657100612">
    <img class="b-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Component_12_1_1335587c-6f5d-4650-8413-1889f269c9ad.png?v=1657272156">
  <div class="es-txt">
 <p>ブライテスト<br>
ファーストエッセンス</p>
    <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957"> 
  </div>
</div>

<!-- 中央メッセージ -->
<div class="whatis">
    <p class="p-sen p-11 sp">ファーストエッセンスの特徴</p>
  <h2 class="center-txt"><span class="pc">「ブライテスト ファーストエッセンス」は</span><br　class="pc">
洗顔後のまっさらな肌に使用する<br class="sp">高機能美容液です。 </h2>
  <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Group_64.png?v=1660631461">
</div>

    <div class="new-flex first">
<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴01</p>
    <h2>ブライトニングケア</h2>
      <p class="p-22">肌のくすみの生成ステップ全てに働きかける「6Dブライトニングコンプレックス<span class="kome">※</span>」を独自配合、素早い透明感の実感を叶えます。</p>
    <p class="p-33">※ナイアシンアミド、α-アルブチン、カプリリル2-グリセリルアスコルビン酸(両親媒性ビタミンC誘導体)、グリチルリチン酸2K、ミトラカーパススケーバーエキス、ウワウルシ葉エキス、カミツレ花エキス、ヒトオリゴペプチド-1 </p>
     <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img id="ggg" class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01_20427d9e-42f9-4c40-9ce5-e5a88630d3db.png?v=1659267067" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">メラニン生成には<br>
6段階のステップ</p>
        </div>
    </div>
        </a>
<!--       
      <a href="" style="display:block;" class="yybtn">
      <div class="column">
    <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">メラニン生成には<br>
6段階のステップ</p>
        </div>
    </div>
        </a> -->
      
    </div>
    
   <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">メラニン生成には6段階のステップ</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01_20427d9e-42f9-4c40-9ce5-e5a88630d3db.png?v=1659267067" alt=""></div>

      <p class="p-22 txt-w">肌のシミやソバカス、くすみの原因となる「メラニン」 <br>
そんな「メラニン」は肌の中でどのように発生するのでしょうか? <br>
実はメラニンは肌の中で6段階のステップを経ています。 </p>
      <p class="p-22 txt-w">1.紫外線などの影響で肌内部に活性酸素が発生<br> 
2.メラニン生成指令がメラノサイトへ送られる<br> 
3.酵素チロシナーゼが活性化し無色の「チロシン」を「メラニン」へ<br> 
4.「メラニン」の黒色化 <br>
5.「メラニン」輸送(肌細胞への受け渡し)<br> 
6.ターンオーバーで排出 </p>
      <p class="p-22 txt-w">それぞれのステップのバランスがくずれることによってシミやくすみなどのお悩みを引き起こします。 </p>
    </div> 
  </div>
  <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01_20427d9e-42f9-4c40-9ce5-e5a88630d3db.png?v=1659267067" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
 </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴02</p>
    <h2>エイジングケア<span class="kome">※1</span></h2>
    <p class="p-22">エイジングの根本原因とされる「酸化・糖化・炎症」(トリプルエイジングファクター)に着目 <br>
      オリジナルの「TAFコンプレックス<span class="kome">※</span>」配合によって、うるおってハリのある肌を叶えます。</p>
      <span class="kome">※</span> <span>酵母エキス、ヘキサカルボキシメチルジペプチド-12、カルノシン、アスペルギ ルス/ダイズ種子エキス発酵エキス液、グリコーゲン、シャクヤク根エキス、 クロ レラソロキニアナエキス、セイヨウハッカ葉エキス</span>
    <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_f5809f85-f3fa-43da-acf5-e54afa5aec56.png?v=1659267067" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">エイジングの根本原因は<br>
「酸化・糖化・炎症」</p>
      </div>
    </div>
      </a>
    </div>
    
    <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">エイジングの根本原因は<br>
「酸化・糖化・炎症」</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_f5809f85-f3fa-43da-acf5-e54afa5aec56.png?v=1659267067" alt=""></div>
      <p class="p-22 txt-w">肌を老化させ、シワやたるみなどのエイジング悩みを引き起こす原因は肌の「酸化・糖化・炎症」です。 <br><br>
「酸化」は肌の”サビ”となって細胞にダメージを与え、コラーゲンやエラスチンなどの ハリ弾力を司るタンパク質を変質させることで、シワやたるみ、くすみなどを引き起こします。 <br>
「糖化」は肌の”コゲ”となって肌の中に老化促進物質・AGEs(糖化最終生成物)を作り出し、 肌の黄ぐすみやハリの低下を引き起こします。<br>
 「炎症」は肌が本来持つ防衛機能ですが、過剰に発生することで 細胞を傷付け、肌のバリア機能を低下させたり、シワやたるみを引き起こします。 <br><br>
「酸化・糖化・炎症」は外的要因(紫外線や空気汚れ・乾燥など)と 内的要因(ストレス・加齢・睡眠不足など)によって肌の中で発生し 互いに影響し合い、エイジングスパイラルとなって 肌の機能低下=「老化」を引き起こします。  </p>
    </div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_f5809f85-f3fa-43da-acf5-e54afa5aec56.png?v=1659267067" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴03</p>
    <h2>ブースター（導入）ケア</h2>
    <p class="p-22">洗顔後のまっさらな肌に様々な働きを持つ成分を届けつつ、さらに次に使うアイテムの肌なじみも高めるブースター効果でうるおいの実感を高めます。<br>
 肌表面にたまった余分な角層をクリアにし、整えることで、より深く保湿成分が浸透し角層全体をうるおします。 </p>
    </div>
  </div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴04</p>
    <h2>高保湿ケア</h2>
      <p class="p-22">3種のヒト型セラミド<span class="kome">※</span>をはじめ、ナイアシンアミドやグリコーゲンが肌の保湿の要となる「細胞間脂質」をサポートし整えます。さらにジグリセリンやヒアルロン酸Naが角層水分量を増加させ、シュガースクワランが皮脂膜をサポートすることで乾きを感じる隙を与えず、うるおいつづく肌へ導きます。 </p>
    <p class="p-33"><span class="kome">※</span> セラミドAP、セラミドNP、セラミド EOP </p>
    </div>
  </div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴05</p>
    <h2>毛穴ケア</h2>
    <p class="p-22">高配合<span class="kome">※</span>のナイアシンアミドや高山植物「エピロビウムフレイスケリ」が過剰な皮脂を抑制することで毛穴の目立ちを防ぎ、毛穴トラブルも防ぎます。</p>
  <p class="p-33"><span class="kome">※</span> ブライテストシリーズにおいて</p>
    </div>
  </div>
 </div>
    </div>

<!-- エッセンス動画 -->
<div class="video-c">
<h2 class="center-txt">ブライテスト<br class="sp">ファーストエッセンスの<br>
使用方法</h2>
  <p>「ブライテスト ファーストエッセンス」は洗顔後のまっさらな肌に使用します。 <br class="pc">
顔と首それぞれに2-3プッシュをなじませ、優しくハンドプレスします。 <br><br>
スプレータイプなので使い方も自由自在 </p>
    <p>・肌から30cm程離して全体にスプレー<br>
 ・肌に置くように近いところからスプレー<br>
・手のひらにスプレーして指で塗布 など  </p>
  
    <div class="v-video">
          <video src="https://cdn.shopify.com/videos/c/o/v/5cbdde7640b34767ba7e81f8e371e9f7.mp4" poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Component_12_1_aac3b561-66ca-4e4a-9d21-0a776ca49693.png?v=1661580499" controls></video>
<!--    <a class="yybt" id="vide">リンク</a>
      <div class="m-content">
        <div class="modal__close batsu" id="vide"></div>
     <div class="m-con">
       <video src="https://cdn.shopify.com/videos/c/o/v/352c0fef24184b04ba5667f97fbf765d.mp4"  id="video" controls></video>
  </div>
      </div> -->
</div>
</div>

<!-- ローション ビッグイメージ -->
<div class="es-img" id="lo">
  <img class="b-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Component_12_ffdddb1f-9512-4152-8890-2434f083f144.png?v=1657179020">
  <img class="b-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_214.png?v=1657274274">
  <div class="lo-txt">
 <p>ブライテスト<br>
リリーシングローション</p>
    <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990"> 
  </div>
</div>

<!-- 中央メッセージ -->
<div class="whatis">
  <p class="p-sen p-11 sp">リリーシングローションの特徴</p>
<h2 class="center-txt">「ブライテスト リリーシングローション」は<br class="pc">
肌内の不要なものをリリースすることでゆらぎを抑え、<br class="pc">
透明感へ導くみずみずしい使用感の高保湿化粧水です。<br class="pc">
1度つけただけでうるおいの実感が得られます。 </h2>
  <img class="lo-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Group_65.png?v=1660631461">
   <img class="lo-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Group_66.png?v=1660631461">
</div>

    <div class="new-flex loation">
<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴01</p>
    <h2>鎮静・ゆらぎケア</h2>
    <p class="p-22">肌荒れやニキビ、赤みなどの肌のゆらぎは、<br class="pc">
肌内に”ムダ”が発生することによって引き起こされます。 <br class="pc">
      そうしたムダをリリース・鎮静する「トラブルリリーサー<span class="kome">※</span>」を配合。<br class="pc">
外部環境にもゆらぎにくい、しなやかな肌に整えます。 </p>
    <p class="p-33">※ティーツリー葉水、グリチルリチン酸2K、タンブリッサトリコフィラ葉エキス、ラクトフェリン(牛乳)、 酢酸ベンジルスルフォニルD-セリルホモフェニルア ラニンアミジノベンザミド、ローマカミツレ花エキス、 ヤグルマギク花エキス、カミツレ花エキス、トウキンセンカ花エキス、フユボダイジュ花エキス、セイヨ ウオ トギリソウ花/葉/茎エキス </p>
  <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01.png?v=1659267067" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">肌のゆらぎは<br>
肌内の”ムダ”が原因</p>
      </div>
    </div>
      </a>
    </div>
    
    <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">肌のゆらぎは
肌内の”ムダ”が原因</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01.png?v=1659267067" alt=""></div>
          <p class="p-22 txt-w">肌に発生した"ムダ"=トラブル因子が肌のゆらぎの原因になります。 <br>
 肌表面に存在し、ニキビや肌荒れを引き起こす「黄色ブドウ球菌/アクネ菌」<br> 肌の抵抗力・回復力を下げ、慢性的な乾燥や敏感肌状態、炎症を引き起こす 「プラスミン/ウキロナーゼ」<br> 免疫反応によって分泌され、肌トラブルの原因になる「炎症誘発因子」 <br>過剰に毛細血管を新生させることで肌の赤み(紅斑)につながる「血管新生因子」 <br>これら肌内の”ムダ”をケアすることが、肌の安定のためにとても重要です。 </p>
</div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/01.png?v=1659267067" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
  </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴02</p>
      <h2>エイジングケア<span class="kome">※1</span></h2>
      <p class="p-22">エイジングの根本原因とされる「酸化・糖化・炎症」(トリプルエイジングファクター)によって肌に発生した”ムダ”を美肌の材料に変えるサポートをする「TAFリリースコンプレックス<span class="kome">※</span>」を配合。 うるおってハリのある肌を叶えます。</p>
    <p class="p-33">※:酵母エキス、ヘキサカルボキシメチルジペプチド-12、カルノシン、アスペルギ ルス/ダイズ種子エキス発酵エキス液、グリコーゲン、シャクヤク根エキス、 クロ レラソロキニアナエキス、セイヨウハッカ葉エキス </p>
    <a href="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_2x_8f7d4675-1652-48c2-9a07-3d6f798fac92.png?v=1657114371" style="display:block;" class="yybtn">
      <div class="column">
      <img class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02.png?v=1659267067" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">肌が持つリサイクルの仕組み<br>
「オートファジー」</p>
      </div>
    </div>
      </a>
    </div>
    
    
     <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">肌が持つリサイクルの仕組み
「オートファジー」</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02.png?v=16592670671" alt=""></div>
          <p class="p-22 txt-w">近年注目を浴びている「オートファジー」は人が本来持つ細胞の働きの一つです。 細胞内に発生した「過酸化脂質」や「糖化化合物」など、細胞にダメージを与える ”ムダ”なものを最小単位の「アミノ酸」まで分解し、新たに細胞の材料にするリサイクルの仕組み。 それが「オートファジー」です。 「オートファジー」が細胞の新陳代謝を促すため、細胞がダメージを受けても修復・再生できますが、加齢とともに「オートファジー」が行われにくくなることで、細胞のダメージが蓄積され、シワやたるみなどの肌の老化につながるとされています。 </p>
</div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02.png?v=1659267067" alt=""></div>
</div>
     </div>
    </div>
    
    
  </div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴03</p>
    <h2>高保湿ケア</h2>
      <p class="p-22">みずみずしいのに1回つけただけでうるおいを実感できる高保湿レイヤード処方<span class="kome">※</span><br>角層の中で大きさの異なるうるおい成分が層になって、肌を長時間うるおいで満たします。 <br>さらに使い続けることで肌自らがうるおいを生み出す力を高めます。  </p>
    <p class="p-33">※ヒドロキシエチルウレア、ヒアルロン酸Na、グリセリルグルコシド、ジグリセリン、トレ ハロース、加水分解コラーゲン </p>
 
    </div>
  </div>
 </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-new">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴04</p>
    <h2>ブライトニングケア</h2>
    <p class="p-22">シミは「メラニン」だけでなく、加齢とともに肌内部に蓄積する「リポフスチン」と呼ばれる茶褐色の色素も原因であることがわかっています。そうしたケアとくすみの原因を”受取拒否”する新たな発想のブライトニングケア「M-キャンセルコンプレックス<span class="kome">※</span>」で均一な透明感のある肌へと導きます。</p>
    <p class="p-33"> ※ナイアシンアミド、ワイルドタイムエキス、テトラカルボキシメチルアセチルヒドロキシプロリル ジペプチド-12-5Na、テトラカルボキシメチルジペプチド- 51-5Na、3-O-エチルアスコルビン酸 </p>
    </div>
  </div>
 </div>
    </div>

<!-- ローション動画 -->

<div class="video-c">
<h2 class="center-txt">ブライテストリリーシングローションの<br class="pc">使用方法</h2>
  <p>「ブライテスト リリーシングローション」を手またはコットンに<br>
500円硬貨大出し、 顔と首に優しくなじませます。<br>その後、朝は「ブライテスト マルチプロテクションデイエマルジョン」を、<br>
夜は「ブライテスト エナジャイジングナイトエマルジョン」をお使いください。</p>
  
  <div class="v-video">
     <video src="https://cdn.shopify.com/videos/c/o/v/1fd8e35c67634615a174f2de7cb66216.mp4"  id="video" controls poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Component_12_8ff91375-fdd8-4e9e-8fbc-86fc8a020288.png?v=1661576755"></video>
  </div>
  
</div>

<!-- TIPS -->

<div class="tips sp">
  <h2>TIPS</h2>
  <p>「ブライテスト ファーストエッセンス」と「ブライテスト リリーシングローション」を塗布した 後、もう一度「ブライテスト ファーストエッセンス」を透明感の気になる部分に重ね付け</p>
  <p>「ブライテスト リリーシングローション」で10分ほどコットンパックをすることで揺らいだお肌 やくすみの気になるお肌も晴れ渡るような透明感に</p>
  
</div>

<!-- お客様の声 -->

<div class="voice">
  <h2>RECOMMEND</h2> 
  <div class="v-container">
 <div class="v-flex">
   
   <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">エッセンスとローション一緒に使うと相乗効果でそれぞれの良さをより実感できます！</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
   <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">今までいろいろなものを使用してきましたが、ここまで肌の変化を感じたのは初めて！使い始めてすぐに”ファチュ沼”にハマりました。
</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">エッセンスがスプレーで出るところが、子育て中の私にぴったり。お風呂上がりなかなか自分のケアまで手が回らないけど、シュシュっとしたら化粧水まで時間の猶予ができる。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">私が気に入って、７０代の母にもプレゼントしましたが、母も気に入って今では親子で愛用しています。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

      <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">リリーシングローションでコットンパックをすると肌が整うから、大事な日の前の日は必ずしちゃいます。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

      <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">一度ファチュイテから浮気して、別のブランドのアイテムを使用しましたが、すぐに戻ってきました！もう浮気はしません！</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    </div>
  </div>
</div>

<div class="s-product">
  <h2>商品はこちら</h2> 
 <div class="sp-flex">
   {% comment %}
     <div class="sp-item"><a href="https://fatuite.com/products/standard-set">
     <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/68b76e612ae424524b88089198e75630.png?v=1621587659">
     <p>ブライテスト ファーストエッセンス/リリーシングローション
</p>
     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957"><img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990"> </a></div>
     {% endcomment %}
   
   <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-firstessence">
     <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/fd61086b6b4c291abd9c4065727d66c3.png?v=1621587659">
     <p>ブライテスト<br>
ファーストエッセンス</p>
     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957"> </a></div>
   
    <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-releasinglotion">
     <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/3b30ce10d6fef4d6862cfc6b01f02ac8.png?v=1621587659">
     <p>ブライテスト<br>
リリーシングローション</p>
   <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990"> </a></div>
   
  </div>
</div>

     <div class="last">
    <p class="p-33"><span class="kome">※1</span>年齢に応じたうるおいやハリのお手入れ</p>
     </div>

{%comment%}
    <div class="last">
    <p class="p-33"><span class="kome">※1</span>年齢に応じたうるおいやハリのお手入れ</p>
      <p class="p-33"><span class="kome">※2</span></p>
      <p class="p-33"><span class="kome">※3</span>セラミドAP、セラミドNP、セラミド EOP</p>
    </div>
{%endcomment%}


{%render 'special-css'%}

<!-- <script>

  document.documentElement.addEventListener('touchstart', function (e) {
    if (e.touches.length >= 2) {e.preventDefault();}
  }, {passive: false});
</script> -->