

 {% section "store" %}

 
	<div class="title-bar custom-font">
			<h1 class="main-heading">SHOP LIST</h1>
		</div>
 {% section "shop-list" %}

 {% style %}
  h1{
    font-family: 'F37Bergman-bold' !important;
  }

{% endstyle %}