<!-- KV -->
<div id="kv_pc" style="padding: 0 auto;">
<img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Group_5_1.jpg?v=1668518012" style="width: 100%;">
  
  <div class="kv-txt">
    <h1>内側から<br>発光するような<br>透明感へ</h1> 
    <div style=""><p>ブライテスト<br>マルチプロテクション<br>デイクリーム/エマルジョン</p><p>ブライテスト<br>エナジャイジング<br>ナイトクリーム/エマルジョン</p></div>    
  </div>
  
</div>

<div id="kv_sp" style="padding: 0 auto;">
<img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_5_1.jpg?v=1668691832" style="max-width:100%;">
  <div class="kv-txt">
    <h1>内側から<br>発光するような<br>透明感へ</h1> 
    <div style=""><p class="ue">ブライテスト<br>マルチプロテクション<br>デイクリーム/エマルジョン</p><p class="sita">ブライテスト<br>エナジャイジング<br>ナイトクリーム/エマルジョン</p></div>    
  </div>
</div>

<!-- 直下テキスト -->
<section class="ss-p">
  <p class="thin p-sen">ブライテストシリーズとは</p>
  <h2>ブライテストシリーズのアイテムはすべて<br>輝きの最上級を目指します。</h2>
  <p>ブライテストシリーズのアイテムはそれぞれ異なる角度から<br class="pc">「ブライトニングケア」「エイジングケア<span class="kome">※1</span>」「高保湿ケア」「毛穴ケア」などを叶え、<br class="pc">組み合わせることで、まるで内側から光を放つような、輝く肌へと導きます。</p>
<!--   <p class="thin">※1年齢に応じたうるおいやハリのお手入れ</p> -->
</section>

<!-- 写真コンテンツ -->

<div class="i-flex">
  <div class="img-box i-left">
    <a href="#es">
  <img class="b-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/04_01_KV_card_2x_8b57d275-d528-495d-8bc9-7eede03f01db.png?v=1661584957">
    <p class="i-t day">ブライテスト<br>
マルチプロテクションデイクリーム/エマルジョン</p>
<!--     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957"> -->
    </a>
  </div>
  
  <div class="img-box i-right">
     <a href="#es">
 <img class="b-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/03_01_KV_card_2x_3c12105d-b172-4891-847a-13912b166019.png?v=1661584957">
    <p class="i-t ena">ブライテスト<br>
エナジャイジングナイトクリーム/エマルジョン</p>
<!--     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990"> -->
    </a>
  </div>
</div>

<!-- エッセンス ビッグイメージ -->
<div class="es-img" id="es">
  <img class="b-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/04_01_KV_card_4x_1.jpg?v=1668518963">
    <img class="b-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/04_02_img01_4x_1.jpg?v=1668520226">
  <div class="es-txt">
 <p>ブライテスト<br>
マルチプロテクション<br>デイクリーム/エマルジョン</p>
<!--     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_2.png?v=1657098957">  -->
  </div>
</div>

<!-- 中央メッセージ -->
<div class="whatis">
    <p class="p-sen p-11 sp">ブライテスト マルチプロテクションデイクリーム／エマルジョンの特徴</p>
  <h2 class="center-txt"><span class="pc">「ブライテスト マルチプロテクションデイクリーム／エマルジョン」は</span>
日中の環境ダメージから肌の透明感を守り抜く朝用クリーム・乳液です。<br><br>
美容成分やうるおいを閉じ込める“蓋”の役割をするだけでなく、<br class="pc">紫外線対策や化粧下地としての効果を兼ね備えたマルチケアを叶える1本です。</h2>
  <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/6_1-removebg-preview.png?v=1668415507">
</div>

    <div class="new-flex first">
<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴01</p>
    <h2>マルチプロテクション</h2>
      <p class="p-22">人の肌は外部環境によって様々なダメージを受け、シミやシワ、たるみなどのエイジング悩みを引き起こします。<br>
特に紫外線によるエイジングダメージは強力で、メラニン生成を促進してシミやくすみを発生させるだけでなく、
肌内部に大量の活性酸素を発生させ、DNAにダメージを与えます。<br>
近年では紫外線だけでなくブルーライトや近赤外線などの光も紫外線と同様に肌内部に活性酸素を発生させ、
肌細胞にダメージを与えることが知られるようになりました。<br>
そういった環境ダメージからマルチに肌を守り、ダメージの侵入を防ぐことが大切です。<br>
「ブライテスト マルチプロテクションデイクリーム／デイエマルジョン」は
そういった環境ダメージから肌を強力にプロテクトし透明感とハリのある肌を守り抜きます。</p>
    </div>
  </div>
   <div class="r-item"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/7..jpg?v=1668415022" alt=""></div>
 </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴02</p>
    <h2>低刺激UVカット処方</h2>
    <p class="p-22">エイジングを促進する紫外線から肌を守るため、強い防御力と肌への優しさを両立した<br>
「低刺激UVカット処方」を採用。紫外線の肌への侵入を防ぎながら肌トラブルも同時に防ぎます。</p>
    </div>
    
    <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">第３のUVカット成分「シラソーマ<span class="kome">※</span>」</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/8._UV.jpg?v=1668415022" alt=""></div>
      <p class="p-22 txt-w">紫外線の肌への侵入を防ぐ日焼け止め成分には２種類のタイプがあります。
一つ目は「紫外線散乱剤」です。紫外線の光を反射することで肌への侵入を防ぎます。<br>
肌に優しいのが特徴で、ノンケミカルの日焼け止めに配合されています。<br>
しかし、光を反射する構造のため白浮きしやすく、<br>
日焼け止め特有のきしみや他のアイテムと反応してモロモロと消しゴムのカスのように凝集してしまうこともあります。<br>
 二つ目は「紫外線吸収剤」です。紫外線を熱などのエネルギーに変えることで肌に侵入するのを防ぎます。<br>
白浮きしにくく、使用感も良いため多くの日焼け止めに採用されています。<br>
しかし、油と馴染みやすいため、肌へ浸透しやすく、肌荒れなどトラブルの原因になることもあります。<br></p>
  <p class="p-22 txt-w">
そこで開発されたのが第三の日焼け止め成分「シラソーマ<span class="kome">※</span>」です。
シラソーマは紫外線吸収剤をシルクの膜で包み、直接肌に触れないような構造になった成分で、
紫外線吸収剤の肌への浸透性を抑え、肌に優しく、しっかりと紫外線から肌を守ります。
「ブライテスト マルチプロテクションデイクリーム／デイエマルジョン」はこのシラソーマを100％使用した
「低刺激UVカット処方」で肌には優しく、強力に紫外線から肌を守ります。</p>
  <p class="p-22 txt-w">
<span class="kome">※</span>株式会社成和化成の登録商標です</p></div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/8._UV.jpg?v=1668415022" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
  <div class="d-table">
        <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img id="ggg" class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/8._UV.jpg?v=1668415022" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">第３のUVカット成分<br>「シラソーマ<span class="kome">※</span>」</p>
        </div>
    </div>
        </a>
  </div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴03</p>
    <h2>ブライトニングケア</h2>
      <p class="p-22">「面」と「点」両方をケアする複数のブライトニング成分によって、素早く顔全体の透明感を高め、色むらの
目立ちにくい均一な肌へ導きます。</p>
      
    </div>
    
   <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">最新のブライトニング成分</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt=""></div>

      <p class="p-22 txt-w">近年、効果と安全性を兼ね備えたブライトニング成分が多く開発されています。</p>
          <p class="p-22 txt-w">
フラーレン：強い抗酸化作用を持ち、メラノソーム減少、メラノサイト樹状突起の伸長抑制をすることで過剰な
メラニンの発生を抑制し、透明感を叶える成分</p>
       <p class="p-22 txt-w">
ワイルドタイムエキス：メラニンの運搬を司る輸送タンパク「キネシン」を阻害することでくすみの目立ちにく
い肌へ導く成分</p>
       <p class="p-22 txt-w">
フェニルエチルレゾルシノール：既存の美白成分「コウジ酸」や「アルブチン」よりもメラニン生成抑制効果が高
く、さらに安全性も高い注目のブライトニング成分</p>
       <p class="p-22 txt-w">
ナイアシンアミド：シワ改善と美白のW有効成分として人気のブライテストシリーズ共通成分 </p>
    </div> 
  </div>
  <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
   <div class="d-table">
       <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img id="ggg" class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">最新のブライトニング成分</p>
        </div>
    </div>
        </a>
   </div>
 </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴04</p>
    <h2>エイジングケア<span class="kome">※1</span></h2>
    <p class="p-22">エイジングの根本原因とされる「酸化・糖化・炎症」(トリプルエイジングファクター)に着目
オリジナルの「TAFコンプレックス<span class="kome">※</span>」配合によって、うるおってハリのある肌を叶えます。</p>
      <p class="p-33"> <span class="kome">※</span> <span>酵母エキス、ヘキサカルボキシメチルジペプチド-12、カルノシン、アスペルギ ルス/ダイズ種子エキス発酵エキス液、グリコーゲン、シャクヤク根エキス、 クロレラソロキニアナエキス、セイヨウハッカ葉エキス</span></p>
    </div>
    
    <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">エイジングの根本原因は<br>
「酸化・糖化・炎症」</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/13..jpg?v=1668415095" alt=""></div>
      <p class="p-22 txt-w">肌を老化させ、シワやたるみなどのエイジング悩みを引き起こす原因は肌の「酸化・糖化・炎症」です。 <br><br>「酸化」は肌の”サビ”となって細胞にダメージを与え、コラーゲンやエラスチンなどの ハリ弾力を司るタンパク質を変質させることで、シワやたるみ、くすみなどを引き起こします。 <br>「糖化」は肌の”コゲ”となって肌の中に老化促進物質・AGEs(糖化最終生成物)を作り出し、 肌の黄ぐすみやハリの低下を引き起こします。<br>「炎症」は肌が本来持つ防衛機能ですが、過剰に発生することで 細胞を傷付け、肌のバリア機能を低下させたり、シワやたるみを引き起こします。 <br><br>「酸化・糖化・炎症」は外的要因(紫外線や空気汚れ・乾燥など)と 内的要因(ストレス・加齢・睡眠不足など)によって肌の中で発生し 互いに影響し合い、エイジングスパイラルとなって 肌の機能低下=「老化」を引き起こします。  </p>
    </div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/13..jpg?v=1668415095" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
<div class="d-table">
     <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/13..jpg?v=1668415095" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">エイジングの根本原因は<br>
「酸化・糖化・炎症」</p>
      </div>
    </div>
      </a>
</div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴05</p>
    <h2>高保湿下地効果</h2>
    <p class="p-22">肌を守る無色の極薄ヴェール<span class="kome">※</span>が毛穴や小じわを目立ちにくくし、下地効果で次に使うメイクアップアイテムの密着を高め、崩れにくくします。<br>洋服の首元の黄ばみも気になりにくい無色タイプで、首元までしっかりケアできます。<br>高保湿処方のクリーム/エマルジョンが溶け込みながら、日中の肌の透明感とうるおいを長時間守ります。
</p>
  <p class="p-33"><span class="kome">※</span>カエサルピニアスピノサ果実エキス・カッパフィカスアルバレジエキス</p>
    </div>
  </div>
   <div class="r-item"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/11_1.png?v=1668994316" alt=""></div>
 
 </div>
    </div>

<!-- エッセンス動画 -->
<div class="video-c">

  <h2 class="center-txt">ブライテスト マルチプロテクション<br class="sp">デイクリーム／エマルジョンの<br class="pc">使用感</h2>
  <p style="margin:20px auto 50px; ">デイクリームはこっくりと濃密なクリームが肌に溶け込みながら透明感のある適度なツヤを叶え、日中の肌のうるおいを長時間守ります。<br><br class="sp">デイエマルジョンはみずみずしい乳液が肌に溶け込みながら透明感のあるうるおいに満ちたツヤを叶え、日中の肌のうるおいを長時間守ります。</p>
  
<h2 class="center-txt">ブライテスト マルチプロテクション<br class="sp">デイクリーム／エマルジョンの<br class="pc">使用方法</h2><p>「朝のスキンケアの最後に、パール粒2つくらいの量（5〜6プッシュ）を顔と首に優しくなじませてください。</p>

   <div class="v-w">
  <div class="v-video">
          <video src="https://cdn.shopify.com/videos/c/o/v/1467ad4852a8416abcfbacdf82623ca9.mp4"
        controls poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/04_01_KV_card_2x_8b57d275-d528-495d-8bc9-7eede03f01db.png?v=1661584957">
</div>
  
    <div class="v-video">
              <video src="https://cdn.shopify.com/videos/c/o/v/d26b009a259443aa8fad0e95cde08471.mp4"
       controls poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/05_em_Day_01_KV_card_2x_716fffba-a496-4800-a7d5-094ba72f57f5.png?v=1661584957">
</div>
              </div>
              </div>
  

<!-- ローション ビッグイメージ -->
<div class="es-img" id="lo">
  <img class="b-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/03_01_KV_card_4x_1.jpg?v=1668518963">
  <img class="b-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/03_02_img_4x_1.jpg?v=1668520226">
  <div class="lo-txt">
 <p>ブライテスト<br>
エナジャイジング<br>ナイトクリーム／エマルジョン</p>
<!--     <img class="s-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_4.png?v=1657098990">  -->
  </div>
</div>

<!-- 中央メッセージ -->
<div class="whatis">
  <p class="p-sen p-11 sp">ブライテスト エナジャイジングナイトクリーム／エマルジョンの特徴</p>
<h2 class="center-txt">「ブライテスト エナジャイジングナイトクリーム／エマルジョン」は<br class="pc">
エネルギーが湧き上がるような肌に導く夜用クリーム・乳液です。<br><br>美容成分やうるおいを長時間閉じ込め、翌朝には透明感の実感を与えます。
</h2>
  <img class="lo-img pc" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/1_5-removebg-preview.png?v=1668415507">
   <img class="lo-img sp" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/1_5-removebg-preview.png?v=1668415507">
</div>

    <div class="new-flex loation">
<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴01</p>
    <h2>エネルギーケア</h2>
    <p class="p-22">肌のエネルギーは加齢や環境ダメージによって減少します。<br class="pc">
肌のエネルギーが不足することによって、肌のハリ弾力をつかさどるコラーゲン・エラスチンが作られにくくなったり、
ターンオーバーが遅くなることでくすみや小じわなどのエイジング悩みにつながります。<br>
      「エナジャイジングコンプレックス<span class="kome">※1</span>」が肌のエネルギーケアを叶え、健やかな肌状態へ導きます。
</p>
        <p class="p-33"><span class="kome">※1</span> オリーブカルス培養溶解質、クロレラソロキニアナエキス、ヘキサカルボキシメチルジペプチド－12、カエサルピニアスピノサ莢エキス, ヒマワリ芽エキス (全て整肌成分)</p>
    </div>
    
    <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">細胞のエネルギー工場・ミトコンドリア</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/2..jpg?v=1668415022" alt=""></div>
          <p class="p-22 txt-w">
細胞の中にはエネルギー（ATP）を作り出す器官「ミトコンドリア」があります。細胞の活動に必要なエネルギーの90％以上を産生するミトコンドリアは、１つの細胞に平均300個から400個程含まれています。</p>
<p class="p-22 txt-w">正常なミトコンドリアは呼吸から得た酸素を取り入れてATPを産生します。しかし加齢や環境ダメージなどによって”不良ミトコンドリア”になるとATP産生が低下し、細胞にダメージを与える活性酸素を過剰に発生させるようになります。</p>
 <p class="p-22 txt-w">そういった”不良ミトコンドリア”を正常なミトコンドリアに戻すために
環境ダメージから「保護」し、ミトコンドリア同士の「融合」を促したり、マイトファジー（ミトコンドリアのオートファジー）と呼ばれる「分解」を促すことが重要です。</p></div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/2..jpg?v=1668415022" alt=""></div>
</div>
     </div>
    </div>
    
  </div>
<div class="d-table">
    <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/2..jpg?v=1668415022" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">細胞のエネルギー工場<br>ミトコンドリア</p>
      </div>
    </div>
      </a>
</div>
  </div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴02</p>
      <h2>エイジングケア<span class="kome">※1</span></h2>
      <p class="p-22">根本からのエイジングケア<span class="kome">※1</span>を叶える「D.N.A.コンプレックス<span class="kome">※2</span>」を配合。肌の働きを健やかに整え、素早く上向きのハリを感じさせ
る肌へ。</p>
    <p class="p-33"><span class="kome">※1</span> 年齢に応じたハリとうるおいのお手入れ　<br><span class="kome">※2</span> ディープ・ナリシング・アクティベーターコンプレックス：プランクトンエキス、ヒマワリ種子油、フィトール、イソマルト、アラリアエスクレンタエキス、メチルグルコシドリン酸、（リシン／プロリン）銅、カッパフィカスアルバレジエキス（全て整肌成分）角層まで </p>
    </div>
    
    
     <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">細胞核のエイジングケア</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/E8D6D7E1-7A50-4747-874F-91AA2CAAFD24.jpg?v=1668945771" alt=""></div>
          <p class="p-22 txt-w">肌を構成する一つ一つの細胞には細胞分裂に重要な人体の設計図「DNA」やそのDNAを守る砦となる「細胞核」があります。</p>
         <p class="p-22 txt-w">
それらの器官は加齢や紫外線、ストレスなどの影響を受けて変質や機能障害を起こします。それによってスムーズに細胞分裂をすることができなくなり、肌の老化につながると考えられています。</p>
         <p class="p-22 txt-w">
「細胞核」ではダメージを受けることで異常タンパク質「プロジェリン」が産生され、「細胞核膜」を変形させ、それによって細胞活動に必要なタンパク質合成を司る「mRNA」などの核内外の往来を阻害し、細胞活動が低下、細胞老化につながります。</p>
         <p class="p-22 txt-w">
細胞核のエイジングケアをすることで肌のうるおいやバリア機能を高めるだけでなく、シワの目立ちにくいハリ弾力のある肌につながります。</p>
</div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/3..jpg?v=1668415022" alt=""></div>
</div>
     </div>
    </div>
  </div>
<div class="d-table">
    <a href="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_2x_8f7d4675-1652-48c2-9a07-3d6f798fac92.png?v=1657114371" style="display:block;" class="yybtn">
      <div class="column">
      <img class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/3..jpg?v=1668415022" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">細胞核のエイジングケア</p>
      </div>
    </div>
      </a>
</div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴03</p>
      <h2>ハリ・弾力ケア</h2>
      <p class="p-22">手厚いハリ・弾力ケアで内側からふっくらと弾力を感じさせ、乾燥による小ジワの目立たない<span class="kome">※</span>ハリのある肌へ導きます。
<p class="p-33"><span class="kome">※</span>効能評価試験済み</p>
    </div>
    
    
     <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">肌のハリを司るコラーゲン産生に必要な成分</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/4..jpg?v=1668415022" alt=""></div>
          <p class="p-22 txt-w">真皮のコラーゲン産生には様々な材料が必要です。</p>
       <p class="p-22 txt-w">
繊維芽細胞内で働くエネルギー源「メチルグルコシド6リン酸(MG6P)」やコラーゲン・エラスチン産生に必要なアミノ酸「プロリン」「リシン」、安定性の高いコラーゲンを生み出すために必要な「ビタミンC」、そしてコラーゲンの成熟を促す「銅」などこういった成分全てを揃えることで、コラーゲンやエラスチンが生み出され、ハリのある肌につながります。 
       </p>
       <p class="p-22 txt-w">
さらに、真皮のコラーゲンだけでなく、表皮と真皮の間にある接合部（DEJ）の強化をするコラーゲン（Ⅰ、Ⅲ、Ⅳ、Ⅶ、ⅩⅦ型コラーゲン）の産生を促すことも滑らかな肌表面を作る上では欠かせません。</p>
</div> 
  </div>
 <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/4..jpg?v=1668415022" alt=""></div>
</div>
     </div>
    </div>
  </div>
<div class="d-table">
   <a href="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/02_2x_8f7d4675-1652-48c2-9a07-3d6f798fac92.png?v=1657114371" style="display:block;" class="yybtn">
      <div class="column">
      <img class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/4..jpg?v=1668415022" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">肌のハリを司るコラーゲン産生<br>に必要な成分</p>
      </div>
    </div>
      </a>
</div>
</div>

<!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
    <p class="p-sen p-11">特徴04</p>
    <h2>ブライトニングケア</h2>
      <p class="p-22">「面」と「点」両方をケアする複数のブライトニング成分によって、素早く顔全体の透明感を高め、色むらの目立ちにくい均一な肌へ導きます。</p>
    </div>
    
   <div class="m-content">
     <div class="modal__close batsu"></div>
     <div class="m-con">
       
       <div class="mup">
     <p class="p-sen p-11 txt-w">COLUMN</p>
    <h2 class="txt-w">最新のブライトニング成分</h2>
       </div>
       
	<div class="disc-flex">
  <div class="l-item">
    <div class="p-max m-max">
        <div class="ssp"><img  class="m-img" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt=""></div>

      <p class="p-22 txt-w">近年、効果と安全性を兼ね備えたブライトニング成分が多く開発されています。</p>
          <p class="p-22 txt-w">
フラーレン：強い抗酸化作用を持ち、メラノソーム減少、メラノサイト樹状突起の伸長抑制をすることで過剰なメラニンの発生を抑制し、透明感を叶える成分</p>
       <p class="p-22 txt-w">
ワイルドタイムエキス：メラニンの運搬を司る輸送タンパク「キネシン」を阻害することでくすみの目立ちにくい肌へ導く成分</p>
       <p class="p-22 txt-w">
フェニルエチルレゾルシノール：既存の美白成分「コウジ酸」や「アルブチン」よりもメラニン生成抑制効果が高く、さらに安全性も高い注目のブライトニング成分</p>
       <p class="p-22 txt-w">
ナイアシンアミド：シワ改善と美白のW有効成分として人気のブライテストシリーズ共通成分 </p>
    </div> 
  </div>
  <div class="r-item ppc"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt=""></div>
</div>
     </div>
    </div>
  </div>
<div class="d-table">
       <a href="" style="display:block;" class="yybtn">
      <div class="column">
      <img id="ggg" class="" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/12..jpg?v=1668415095" alt="">
      <div class="c-in">
        <p class="p-a p-sen">COLUMN</p>
        <p class="p-b">最新のブライトニング成分</p>
        </div>
    </div>
        </a>
</div>
 </div>
   

  <!-- 商品説明コンテンツ -->
<div class="disc-flex d-xx">
  <div class="l-item">
    <div class="p-max">
  <p class="p-sen p-11">特徴05</p>
    <h2>高保湿ケア</h2>
    <p class="p-22">ナイトクリーム／ナイトエマルジョン共に夜の間中肌のうるおいを守りぬく「オーバーナイトラスティングテクノロジー」を採用。<br>
ナイトクリームはこっくりと濃厚でありながらも肌になじみやすく、素早く一体化して一晩中うるおいをキープします。<br>ナイトエマルジョンはみずみずしく肌になじみながら、うるおいのベールを纏ったように一晩中うるおいをキープします。
</p> </div>
  </div>
   <div class="r-item"><img  class="gallery" src="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/Frame_3.png?v=1668605619" alt=""></div>
 
 </div>
    </div>

   </div>


<!-- ローション動画 -->

<div class="video-c">
  <h2 class="center-txt">ブライテスト エナジャイジングナイト<br class="sp">クリーム／エマルジョン<br class="pc">使用感</h2>
  <p style="margin:20px auto 50px; ">ナイトクリームはバターのようにこっくりと濃厚でありながらも肌になじみやすく、素早く肌と一体化して一晩中うるおいをキープします。<br><br class="sp">ナイトエマルジョンはするするとみずみずしく肌になじみながら、水分を抱えたうるおいのベールを纏ったように一晩中うるおいをキープします。</p>
  
<h2 class="center-txt">ブライテスト エナジャイジングナイトクリーム／エマルジョンの<br class="pc">使用方法</h2>
  <p>夜のスキンケアの最後に、パール粒2つくらいの量（スパチュラ2回分）を顔と首に優しくなじませてください。<br>朝のケアでもご使用いただけます。
</p>

  <div class="v-w">
    <div class="v-video">
          <video src="https://cdn.shopify.com/videos/c/o/v/20a914f9783c478699ea5ace3328cc67.mp4" 
        controls poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/03_01_KV_card_2x_3c12105d-b172-4891-847a-13912b166019.png?v=1661584957">
</div>

                 <div class="v-video">
          <video src="https://cdn.shopify.com/videos/c/o/v/71637d90d63946b6b23370a3b7ea9aa3.mp4"
    controls poster="https://cdn.shopify.com/s/files/1/0527/6060/8917/files/05_em_Night_01_KV_card_2x_d5f69b15-ef98-4792-9bc1-7a99e8c8789d.png?v=1661584956">
</div>
          </div>
  
</div>

            {% comment %}
<!-- TIPS -->

<div class="tips sp">
  <h2>TIPS</h2>
  <p>「ブライテスト ファーストエッセンス」と「ブライテスト リリーシングローション」を塗布した 後、もう一度「ブライテスト ファーストエッセンス」を透明感の気になる部分に重ね付け</p>
  <p>「ブライテスト リリーシングローション」で10分ほどコットンパックをすることで揺らいだお肌 やくすみの気になるお肌も晴れ渡るような透明感に</p>
  
</div>
{% endcomment %}

<!-- お客様の声 -->

<div class="voice">
  <h2>RECOMMEND</h2> 
  <div class="v-container">
 <div class="v-flex">
   
   <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">毎年花粉のシーズンは肌荒れして肌調子が悪かったけど、デイクリームを使い始めて今年は花粉を忘れるくらい安定してた！</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
   <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">なじませると透明になるから、洋服の首元も気にせずしっかり首まで塗れる。首は年齢が出やすいと言われるからしっかりケアできて嬉しい。
</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">デイクリームやデイエマルジョンはうるおいを閉じ込める蓋の役割や日焼け止め効果、化粧下地など複数の機能をこれ一つで叶えてくれるから時短になるし、コスパもいい！</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">これつけてると日中も全然乾燥しないから、日中ミストなどで保湿しなくても済むようになった！エマルジョンのみずみずしいツヤもクリームのセミツヤもどっちも捨てがたい。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

      <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">今までどんなクリームを使っても翌朝には乾燥してたけど、このナイトクリームは朝、洗顔するまでしっかり保湿してくれて、乾燥知らず！一生使いたいです。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

     <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">ナイトクリームはかなり固そうに見えるけど、肌になじませるとするするとろけるように肌に密着してちゃんと守ってくれる。翌朝の透明感はこのクリームのおかげかも！飛行機内など過酷な環境でもこれがあれば安心と思えるお守りのような存在。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

     <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">ナイトエマルジョンは軽いかなってちょっと不安になったけど、脂性肌寄りの私にはピッタリ！1年中このエマルジョンでも大丈夫そうなうるおい感。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>

      <div class="v-item">
<!--       <p class="p-sen p-11">40代 女性</p> -->
     <p class="v-i">超乾燥肌の私は朝のスキンケアでナイトエマルジョンをデイクリームの前に仕込んでおくのがお気に入り。</p>
<!--      <p>温泉に入った後のような感じがしました。3日に1度フェイスマスクを使っていましたが、それと同じような効果があるような気がして、すごく気に入ってます。においがないのでうれしいです。</p> -->
   </div>
   
    </div>
  </div>
</div>

<div class="s-product">
  <h2>商品はこちら</h2> 
 <div class="sp-flex">

     <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-multiprotection-daycream">
     <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/products/6_300x.png?v=1641820861">
     <p>ブライテスト<br>
マルチプロテクションデイクリーム</p>
      </a></div>
   
   
     <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-multiprotection-dayemulsion">
     <img src="https://cdn.shopify.com/s/files/1/0527/6060/8917/products/05_em_Day_03_01_product_300x.png?v=1652239855">
     <p>ブライテスト<br>マルチプロテクションデイエマルジョン
</p>
 </a></div>
   
 
    <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-energizing-nightcream">
     <img src="//cdn.shopify.com/s/files/1/0527/6060/8917/products/03_03_01_product_4x1_2ccdaab0-4f77-4f2a-9ef8-b2e126e2621a_300x.jpg?v=1668428529">
     <p>ブライテスト<br>
エナジャイジングナイトクリーム</p>
 </a></div>

    <div class="sp-item"><a href="https://fatuite.com/collections/products/products/brightest-energizing-nightemulsion">
     <img src="//cdn.shopify.com/s/files/1/0527/6060/8917/products/05_em_Night_03_01_product_2x_1_1_8164fdd8-ff7c-4eb7-a6a7-d5d0efcb54e8_300x.jpg">
     <p>ブライテスト<br>
エナジャイジングナイトエマルジョン</p>
</a></div>
   
  </div>
</div>

     <div class="last">
    <p class="p-33"><span class="kome">※1</span>年齢に応じたうるおいやハリのお手入れ</p>
     </div>

{%comment%}
    <div class="last">
    <p class="p-33"><span class="kome">※1</span>年齢に応じたうるおいやハリのお手入れ</p>
      <p class="p-33"><span class="kome">※2</span></p>
      <p class="p-33"><span class="kome">※3</span>セラミドAP、セラミドNP、セラミド EOP</p>
    </div>
{%endcomment%}


{%render 'special-css2'%}

<!-- <script>

  document.documentElement.addEventListener('touchstart', function (e) {
    if (e.touches.length >= 2) {e.preventDefault();}
  }, {passive: false});
</script> -->