<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/template--product.liquid
{% endcomment %}
<div id="s-lp">
{% section 'template--product' %}
  {%unless customer %}
<form data-cf-form="QrtB7K"></form>
    {% else %}
       <a class="btn" href="/cart/45618343313667:1">購入する</a>
    {% endunless %}
  </div>